<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.NbMapper">

   <select id="test" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        sl
        from
        rpt_aqjg_nb_test
        where
        tjrq =#{tjrq} order by sl desc
</select>
    <select id="totleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(dwsl)
        from
        rpt_aqjg_zdmb_lzfxtj_sydwsl
        where
        tjrq =#{tjrq}
</select>
    <select id="totleNumBySl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        jbdjdm,
        jbdjmc,
        sum(dwsl) sl
        from
        rpt_aqjg_zdmb_lzfxtj_sydwsl
        where
        tjrq =#{tjrq} and jbdjdm in ('1','2','3','7','8','9') GROUP BY jbdjmc,jbdjdm ORDER BY sl
</select>
    <select id="findDataByJj" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        a.tjrq,
        a.ssfjmc,
        a.num,
        ceiling(a.num/b.totleNum*100) as percent
    from
        (select tjrq,ssfjmc,sum(dwsl) num from rpt_aqjg_zdmb_lzfxtj_sydwsl where tjrq =#{tjrq} GROUP BY ssfjmc,tjrq ORDER BY ssfjmc) as a
    LEFT JOIN
        (SELECT tjrq,sum(dwsl) totleNum from rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq =#{tjrq} GROUP BY tjrq) b
    on
        a.tjrq = b.tjrq ORDER BY a.ssfjmc
</select>
    <select id="findDataByZd" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        a.tjrq,
        a.totleNum,
        b.ssfjmc,
        b.jbdjdm,
        b.jbdjmc,
        b.sl,
        ceiling(b.sl/a.totleNum*100) as percent
    from
    (SELECT tjrq,sum(dwsl) as totleNum from rpt_aqjg_zdmb_lzfxtj_sydwsl  where tjrq =#{tjrq} and jbdjdm in ('1','2','3','8') GROUP BY tjrq) a
     LEFT JOIN
    (select tjrq,ssfjmc,jbdjdm,jbdjmc,sum(dwsl) sl from rpt_aqjg_zdmb_lzfxtj_sydwsl  where tjrq =#{tjrq} and jbdjdm in ('1','2','3','8') GROUP BY jbdjmc,jbdjdm,tjrq,ssfjmc ORDER BY ssfjmc,jbdjdm) b
    on a.tjrq = b.tjrq
</select>
    <select id="findDataByOrder" resultType="java.util.HashMap" parameterType="java.util.List">
   SELECT
   b.tjrq,
   b.ssfjmc,
   b.zd,
   a.totleNum,
   ceiling(b.zd/a.totleNum*100) as percent FROM
    (SELECT  tjrq,ssfjmc,sum(dwsl) as totleNum FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq =#{tjrq} GROUP BY tjrq,ssfjmc) a
    LEFT JOIN
    (SELECT tjrq,ssfjmc,sum(dwsl) AS zd FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq =#{tjrq} and jbdjdm in ('1','2','3','8') GROUP BY tjrq,ssfjmc ORDER BY zd DESC) b
    on a.ssfjmc = b.ssfjmc
    ORDER BY totleNum desc
</select>
    <select id="findDataByLimit" resultType="java.util.HashMap" parameterType="java.util.List">
  SELECT
      case when position('分局' in a.sspcsmc) > 0 then split_part(a.sspcsmc, '分局', 2) else split_part(a.sspcsmc, '公安局', 2) end sspcsmc,
      b.zd,
      a.totleNum,
      ceiling(b.zd/a.totleNum*100) as percent
    FROM
      (SELECT sspcsmc,sum(dwsl) as totleNum FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq =#{tjrq} AND ssfjmc like '%' || #{name} ||'%' GROUP BY sspcsmc) a
    left JOIN
      (SELECT sspcsmc,sum(dwsl) as zd FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq =#{tjrq} AND jbdjdm in ('1','2','3','8') and ssfjmc like '%' || #{name} ||'%' GROUP BY sspcsmc) b
    on a.sspcsmc = b.sspcsmc
    ORDER BY totleNum DESC LIMIT 10
</select>
    <select id="findNumByJcsl" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        jclxmc,
        sum(jcsl)
    FROM
        rpt_aqjg_zdmb_lzfxtj_jcsl
    WHERE
        tjrq =#{tjrq} GROUP BY jclxmc ORDER BY jclxmc
</select>
    <select id="findNumByYhsl" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        sum(yhsl)
    FROM
        rpt_aqjg_zdmb_lzfxtj_yhsl
    WHERE
        tjrq =#{tjrq}
</select>
    <select id="findDataByFx" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        a.jbdjdm,
        a.jbdjmc,
        a.dwsl,
        a.yhsl,
        ceiling(a.dwsl/(a.dwsl + a.yhsl)*100) dwPer,
        ceiling(a.yhsl/(a.dwsl + a.yhsl)*100) yhPer
    FROM
    (SELECT jbdjdm,jbdjmc,sum(yhdwsl) dwsl, sum(yhsl) yhsl FROM "rpt_aqjg_zdmb_lzfxtj_yhsl" WHERE   tjrq=#{tjrq} AND jbdjdm IN ('1','2','3','8') GROUP BY jbdjdm,jbdjmc) a
</select>
    <select id="findDataByNum" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        jbdjdm,
        jbdjmc,
        sum(yhdwsl) dwsl,
        sum(yhsl) yhsl
    FROM
        "rpt_aqjg_zdmb_lzfxtj_yhsl"
    WHERE
    tjrq=#{tjrq} AND jbdjdm in('1','2','3','8','9') GROUP BY jbdjdm,jbdjmc order by dwsl DESC
</select>
    <select id="findDataByZz" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        ssfjmc,
        sum(jcsl)
    FROM
        "rpt_aqjg_zdmb_lzfxtj_jcsl"
    WHERE
        tjrq=#{tjrq} AND dwlx='重要设施' AND jclxmc='专项检查' GROUP BY ssfjmc ORDER BY sum DESC
</select>
    <select id="findDataByZzLinit" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        case when position('分局' in sspcsmc) > 0 then split_part(sspcsmc, '分局', 2) else split_part(sspcsmc, '公安局', 2) end sspcsmc,
        sum(jcsl)
    FROM
        "rpt_aqjg_zdmb_lzfxtj_jcsl"
    WHERE
        tjrq=#{tjrq} and ssfjmc like '%' || #{name} ||'%' and dwlx='重要设施' AND jclxmc='专项检查' GROUP BY sspcsmc ORDER BY sum DESC LIMIT 10
</select>
    <select id="findDataByZzOne" resultType="java.util.HashMap" parameterType="java.util.List">
      SELECT * FROM
        (SELECT  ssfjmc,
			'省级治安重点单位' AS sjname,
            ( SELECT COALESCE(SUM(dwsl),'0') sjsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') AND jbdjdm = '1' AND ssfjmc=t.ssfjmc),
            '市级治安重点单位' AS sname,
            ( SELECT SUM (dwsl) ssnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') AND jbdjdm = '2' and ssfjmc=t.ssfjmc),
            '县市、区级治安重点单位' AS xname,
            ( SELECT SUM (dwsl) xsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') AND jbdjdm = '3' AND ssfjmc=t.ssfjmc),
            '社区关注单位' AS sqname,
            ( SELECT SUM (dwsl) sqsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') AND jbdjdm = '8' AND ssfjmc=t.ssfjmc)
        FROM
            rpt_aqjg_zdmb_lzfxtj_sydwsl t
        WHERE
            1=1 AND tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') GROUP BY ssfjmc)e
        LEFT JOIN
        (select a.ssfjmc,ceiling(b.num/a.totleNum*100) as percent FROM
        (SELECT ssfjmc,sum(dwsl) totlenum FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd') GROUP BY ssfjmc) a
        LEFT JOIN
        (SELECT ssfjmc,sum(dwsl) num FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd')  AND jbdjdm in('1','2','3','8') GROUP BY ssfjmc) b
        on a.ssfjmc = b.ssfjmc) f
        on e.ssfjmc =f.ssfjmc ORDER BY e.ssfjmc
</select>
    <select id="findNumByZyss" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        sum(dwsl)
       FROM
         "rpt_aqjg_zdmb_zysssl"
       WHERE
        tjrq =#{tjrq}
</select>
    <select id="findNumByCyry" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        qy,
        jbdj,
        jbdjmc,
        zddwcyrys
       FROM
         rpt_aqjg_zdmb_zddwtj
       WHERE
        tjrq =#{tjrq} and jbdj='1'
</select>
    <select id="findNumByZd" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        sum(zdgcdws)
       FROM
         rpt_aqjg_zdmb_hdgctj
       WHERE
        tjrq =#{tjrq}
</select>
    <select id="findNumByScaq" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        sum(tjsl)
       FROM
         rpt_aqjg_zdmb_scaqsglatj
       WHERE
        tjrq =#{tjrq}
</select>
    <select id="findNumByYhcls" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        sum(yhcldwsl)
       FROM
         rpt_aqjg_zdmb_yhdwtj
       WHERE
        tjrq =#{tjrq}
</select>
    <select id="findNumBySsFx" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        lbmc,
        sum(dwsl)
       FROM
         rpt_aqjg_zdmb_zysssl
       WHERE
        tjrq =#{tjrq} group by lbmc
</select>
    <select id="findDataZySsLimit" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        ssfjmc,
        sum(dwsl) as num
       FROM
         rpt_aqjg_zdmb_zysssl
       WHERE
        tjrq =#{tjrq} group by ssfjmc order by num desc
</select>
    <select id="findDataZySsPcs" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        case when position('分局' in sspcsmc) > 0 then split_part(sspcsmc, '分局', 2) else split_part(sspcsmc, '公安局', 2) end sspcsmc,
        sum(dwsl) as num
       FROM
         rpt_aqjg_zdmb_zysssl
       WHERE
        tjrq =#{tjrq} and ssfjmc like '%' || #{name} ||'%'  group by sspcsmc order by num desc limit 10
</select>
    <select id="findDataYhFx" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
        ssfjmc,
        sum(yhdwsl) as num
       FROM
         rpt_aqjg_zdmb_lzfxtj_yhsl
       WHERE
        tjrq =#{tjrq} group by ssfjmc order by num desc
</select>
    <select id="findDataYhFxPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsmc) > 0 then split_part(sspcsmc, '分局', 2) else split_part(sspcsmc, '公安局', 2) end sspcsmc,
    sum(yhdwsl) as num
    FROM
    rpt_aqjg_zdmb_lzfxtj_yhsl
    WHERE
    tjrq =#{tjrq} and ssfjmc like '%' || #{name} ||'%'  group by sspcsmc order by num desc limit 10
</select>
    <select id="findDataJctjCg" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            sum(cgjc_qypcssl) as cgnum
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by cgnum desc
</select>
    <select id="findDataJctjCgPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        cgjc_qypcssl
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname like '%' || #{name} ||'%'  group by sspcsname,cgjc_qypcssl order by cgjc_qypcssl desc limit 10
</select>
    <select id="findDataJctjZx" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            sum(zxjc_qypcssl) as zxnum
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by zxnum desc
</select>
    <select id="findDataJctjZxPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        zxjc_qypcssl
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname like '%' || #{name} ||'%'  group by sspcsname,zxjc_qypcssl order by zxjc_qypcssl desc limit 10
</select>
    <select id="findDataJctjQs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            sum(qsjc_qypcssl) as qsnum
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by qsnum desc
</select>
    <select id="findDataJctjQsPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        qsjc_qypcssl
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname like '%' || #{name} ||'%'  group by sspcsname,qsjc_qypcssl order by qsjc_qypcssl desc limit 10
</select>
    <select id="findDataJctjZd" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            sum(zdjc_qypcssl) as zdnum
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by zdnum desc
</select>
    <select id="findDataJctjZdPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        zdjc_qypcssl
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname like '%' || #{name} ||'%'  group by sspcsname,zdjc_qypcssl order by zdjc_qypcssl desc limit 10
</select>
    <select id="findDataJctjWzg" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            sum(dwsl1)
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by sum desc
</select>
    <select id="findDataJctjWzgPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        dwsl1
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname like '%' || #{name} ||'%'  group by sspcsname,dwsl1 order by dwsl1 desc limit 10
</select>
    <select id="findDataJctjZg" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            ssfxjname,
            (sum(dwsl1)+sum(dwsl)) as num
        FROM
            rpt_aqjg_zdmb_aqjctj_pcs
        WHERE tjrq =#{tjrq} GROUP BY ssfxjname order by num desc
</select>
    <select id="findDataJctjZgPcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
    case when position('分局' in sspcsname) > 0 then split_part(sspcsname, '分局', 2) else split_part(sspcsname, '公安局', 2) end sspcsname,
        (dwsl+dwsl1) as num
    FROM
    rpt_aqjg_zdmb_aqjctj_pcs
    WHERE
    tjrq =#{tjrq} and ssfxjname=#{name}  group by sspcsname,dwsl,dwsl1 order by num desc limit 10
</select>
    <select id="findNumByGllx" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
            tjrq=#{tjrq} AND gllx='1' and glbm like '%2%'
</select>
    <select id="findNumByGljc" resultType="java.util.HashMap" parameterType="java.util.List">
       SELECT
            gljcjg,
            gljcjgmc,
            sum(sl)
       FROM
            rpt_aqjg_zdmb_yhcllctj
       WHERE
            tjrq=#{tjrq} AND gllx='1' AND gljcjg in('1','2','3') and glbm like '%2%' GROUP BY gljcjg,gljcjgmc ORDER BY gljcjg
</select>
    <select id="findNumByFc" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
            tjrq=#{tjrq} AND gllx='1' and jclx='4'
</select>
    <select id="findNumByFcWwcl" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
            tjrq=#{tjrq} AND gllx='1' and jclx='4' and clzt != '6'
</select>
    <select id="findNumByFcJcjg" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            gljcjg,
            gljcjgmc,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
         tjrq=#{tjrq} AND gllx='1' AND jclx='4' AND  glbm like '%2%' AND gljcjg in ('100','200','300')
         group by gljcjg,gljcjgmc
</select>
    <select id="findNumByFcspWwcl" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            jclx,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE tjrq=#{tjrq} AND gllx='1' AND jclx='4' AND clzt='3' GROUP BY jclx
</select>
    <select id="findNumByFcspFk" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            gljcjg,
            gljcjgmc,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
        tjrq=#{tjrq} AND gllx='1' AND jclx='4' and glbm like '%2%' and gljcjg='101' GROUP BY gljcjg,gljcjgmc
</select>
    <select id="findNumByFcspXt" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            gljcjg,
            gljcjgmc,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
        tjrq=#{tjrq} AND gllx='1' AND jclx='4' and glbm like '%2%' and gljcjg='201' GROUP BY gljcjg,gljcjgmc
</select>
    <select id="findNumByCzDczg" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            tjrq,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
             tjrq=#{tjrq} AND gllx='1' and jclx !='4' and clzt = '6' AND gljcjg='1' group by tjrq
    </select>
    <select id="findNumByCzZgwcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            tjrq,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
             tjrq=#{tjrq} AND gllx='1' and jclx ='4' and clzt = '6' AND gljcjg in('0',NULL) group by tjrq
    </select>
    <select id="findNumByCzWwcs" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            tjrq,
            sum(sl)
        FROM
            rpt_aqjg_zdmb_yhcllctj
        WHERE
             tjrq=#{tjrq} AND gllx='1' and jclx ='4' and clzt = '6' AND gljcjg  not in ('0',NULL) group by tjrq
    </select>
    <select id="findNumByZddw" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            qy,
            sum(zddwsl)
        FROM
            rpt_aqjg_zdmb_zddwtj
        WHERE
         tjrq=#{tjrq} AND jbdj in('1','2','3','8') GROUP BY qy ORDER BY sum desc
    </select>
    <select id="findNumByZddwLimit" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            a.qy,
            a.num,
            b.sum
        FROM
            (SELECT qy, sum(zddwsl) num FROM "rpt_aqjg_zdmb_zddwtj" WHERE tjrq=#{tjrq} AND jbdj in('1','2','3','8') GROUP BY qy) a
                LEFT JOIN
            (SELECT qy, sum(zddwsl) sum  FROM "rpt_aqjg_zdmb_zddwtj" WHERE tjrq=#{tjrq}  GROUP BY qy) b
                ON a.qy = b.qy
            ORDER BY num desc LIMIT 5
    </select>
    <select id="findNumByYhYear" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
        jc_year,
        sum(yhcldwsl)
        FROM
        rpt_aqjg_zdmb_yhdwtj
         WHERE tjrq=#{tjrq} GROUP BY jc_year ORDER BY jc_year
    </select>
    <select id="findNumByZyssFx" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            a.ssfjmc,
            a.addnum,
            b.totlenum
        FROM
            (SELECT  ssfjmc,sum(dwsl) addnum FROM "rpt_aqjg_zdmb_zysssl" WHERE tjrq=#{tjrq} GROUP BY ssfjmc ORDER BY ssfjmc) a
        LEFT JOIN
            (SELECT ssfjmc,sum(dwsl) totlenum FROM "rpt_aqjg_zdmb_zysssl_zl" WHERE tjrq=#{tjrq} GROUP BY ssfjmc ORDER BY ssfjmc) b
        ON a.ssfjmc = b.ssfjmc
    </select>

    <select id="findNumByZyssFxZl" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            a.ssfjmc,
            a.addnum,
            b.totlenum
        FROM
            (SELECT  ssfjmc,sum(dwsl) addnum FROM "rpt_aqjg_zdmb_zysssl" WHERE tjrq=#{tjrq} and
            lbmc in
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                 #{item}
            </foreach>
            GROUP BY ssfjmc ORDER BY ssfjmc) a
        LEFT JOIN
            (SELECT ssfjmc,sum(dwsl) totlenum FROM "rpt_aqjg_zdmb_zysssl_zl" WHERE tjrq=#{tjrq}
             and lbmc in
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                 #{item}
            </foreach>
             GROUP BY ssfjmc ORDER BY ssfjmc) b
        ON a.ssfjmc = b.ssfjmc
    </select>


    <select id="findNumByZyssTotle" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            sum(dwsl)
        FROM
         rpt_aqjg_zdmb_zysssl
        WHERE
          tjrq=#{tjrq}
    </select>
    <select id="findNumByDj" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            qy,sum(zddwsl) num
        FROM
        rpt_aqjg_zdmb_zddwtj
        WHERE
        tjrq=#{tjrq} and
        jbdjmc in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by qy order by num desc limit 5
    </select>

    <select id="findNumByZddwZl" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
        qy,
        sum(zddwsl) num
        FROM
        rpt_aqjg_zdmb_zddwtj
        WHERE
        tjrq=#{tjrq} and
        hylb in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by qy order by num desc limit 5
    </select>

    <select id="findDataByZddwYear" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT DISTINCT
            nf,
            '省级治安重点单位' AS sjname,
            ( SELECT SUM ( dwsl ) sjsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND jbdjdm = '1' AND nf=t.nf),
            '市级治安重点单位' AS sname,
            ( SELECT SUM ( dwsl ) ssnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND jbdjdm = '2' AND nf=t.nf),
            '县市、区级治安重点单位' AS xname,
            ( SELECT SUM ( dwsl ) xsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND jbdjdm = '3' AND nf=t.nf),
            '社区关注单位' AS sqname,
            ( SELECT SUM ( dwsl ) sqsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND jbdjdm = '8' AND nf=t.nf)
        FROM
            rpt_aqjg_zdmb_lzfxtj_sydwsl t
        WHERE
            1 = 1 AND tjrq = #{tjrq} GROUP BY nf ORDER BY nf
    </select>
    <select id="findDataByZddwMonth" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT DISTINCT
			yf,
            '省级治安重点单位' AS sjname,
            ( SELECT SUM ( dwsl ) sjsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '1' AND yf=t.yf),
            '市级治安重点单位' AS sname,
            ( SELECT SUM ( dwsl ) ssnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '2' AND yf=t.yf),
            '县市、区级治安重点单位' AS xname,
            ( SELECT SUM ( dwsl ) xsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq}  AND nf=#{nf} AND jbdjdm = '3' AND yf=t.yf),
            '社区关注单位' AS sqname,
            ( SELECT SUM ( dwsl ) sqsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '8' AND yf=t.yf)
        FROM
            rpt_aqjg_zdmb_lzfxtj_sydwsl t
        WHERE
            1 = 1 AND tjrq = #{tjrq} AND nf=#{nf} GROUP BY yf ORDER BY yf
    </select>

    <select id="findNumByZddwJcMonth" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT DISTINCT
			yf,
            '省级治安重点单位' AS sjname,
            ( SELECT SUM ( dwsl ) sjsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '1' AND yf=t.yf),
            '市级治安重点单位' AS sname,
            ( SELECT SUM ( dwsl ) ssnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '2' AND yf=t.yf),
            '县市、区级治安重点单位' AS xname,
            ( SELECT SUM ( dwsl ) xsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq}  AND nf=#{nf} AND jbdjdm = '3' AND yf=t.yf),
            '社区关注单位' AS sqname,
            ( SELECT SUM ( dwsl ) sqsnum FROM rpt_aqjg_zdmb_lzfxtj_sydwsl WHERE tjrq = #{tjrq} AND nf=#{nf} AND jbdjdm = '8' AND yf=t.yf)
        FROM
            rpt_aqjg_zdmb_lzfxtj_sydwsl t
        WHERE
            1 = 1 AND tjrq = #{tjrq} AND nf=#{nf}
        ssfjmc in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
             GROUP BY yf ORDER BY yf
    </select>

    <select id="findNumByQmQsyLx" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            a.ssfjmc,
            a.num,
            b.totlenum,
            ceiling(a.num/b.totleNum*100) as percent
        FROM
            (SELECT tjrq,ssfjmc,sum(dwsl) num FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq=#{tjrq} AND jbdjmc in
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            GROUP BY  ssfjmc,tjrq) a
        LEFT JOIN
            (SELECT tjrq,sum(dwsl) totlenum FROM "rpt_aqjg_zdmb_lzfxtj_sydwsl" WHERE tjrq=#{tjrq} AND jbdjmc in
            <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            GROUP BY tjrq) b
            ON a.tjrq = b.tjrq
            ORDER BY ssfjmc
    </select>
    <select id="findNumByQmZyss" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        select
            b.ssfjmc,
            b.num,
            ceiling(b.num/a.totlenum*100) as percent
        FROM
        (SELECT tjrq,sum(dwsl) totlenum FROM  rpt_aqjg_zdmb_zysssl WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY tjrq) a
        LEFT JOIN
        (SELECT tjrq,ssfjmc,sum(dwsl) num FROM  rpt_aqjg_zdmb_zysssl WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY ssfjmc,tjrq ORDER BY ssfjmc) b
        on a.tjrq = b.tjrq
    </select>

    <select id="findNumByQmZyssZl" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
        a.ssfjmc,
        a.num,
        ceiling(a.num/b.totleNum*100) as percent
        FROM
        (SELECT tjrq,ssfjmc,sum(dwsl) num FROM "rpt_aqjg_zdmb_zysssl" WHERE tjrq=#{tjrq} AND lbmc in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY  ssfjmc,tjrq) a
        LEFT JOIN
        (SELECT tjrq,sum(dwsl) totlenum FROM "rpt_aqjg_zdmb_zysssl" WHERE tjrq=#{tjrq} AND lbmc in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        GROUP BY tjrq) b
        ON a.tjrq = b.tjrq
        ORDER BY ssfjmc
    </select>

    <select id="findNumByZdNum" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            fxjmc ssfjmc,
            sum(zdgcdws) zdnum,
            sum(qywjzs) wjznum,
            sum(qyyjzs) jznum
        FROM
            "rpt_aqjg_zdmb_hdgctj"
        WHERE
            tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY fxjmc ORDER BY fxjmc
    </select>

    <select id="findDataQsyMonth" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            nf,
            yf,
            sum(dwsl)
        FROM
            "rpt_aqjg_zdmb_lzfxtj_sydwsl"
        WHERE
            nf=to_char(CURRENT_DATE, 'yyyy') and tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY yf,nf ORDER BY yf
    </select>
    <select id="findDataQsyYear" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            nf,
            sum(dwsl)
        FROM
            "rpt_aqjg_zdmb_lzfxtj_sydwsl"
        WHERE
            tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY nf ORDER BY nf
    </select>

    <select id="findDataQsyLtMonth" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        SELECT
            yf,
            sum(dwsl)
        FROM
            rpt_aqjg_zdmb_lzfxtj_sydwsl
        WHERE
            tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') AND nf=to_char(CURRENT_DATE,'yyyy') AND ssfjmc=#{name} GROUP BY yf  ORDER BY yf
    </select>

    <select id="findDataQsyLtYear" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
       SELECT
       nf,
       sum(dwsl)
       FROM
       rpt_aqjg_zdmb_lzfxtj_sydwsl
       WHERE
       tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd')  AND ssfjmc=#{name}
        GROUP BY nf ORDER BY nf
    </select>
    <select id="zdssZdjc" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            a.*,
            COALESCE ( b.jcsl, 0 ) count
        FROM
            dept_table a
            LEFT JOIN (
        SELECT
            ssfjdm,
            sum( jcsl ) jcsl
        FROM
            rpt_aqjg_zdmb_zdsszt
        WHERE
            SUBSTR( tjrq, 1, 4 ) = #{year} and jclxmc = '主动检查'
        GROUP BY
            ssfjdm
            ) b ON ( a.dept_code = b.ssfjdm )
        ORDER BY
            COALESCE ( b.jcsl, 0 ) DESC
    </select>
    <select id="findNumByZddwjcfx" resultType="java.util.HashMap" parameterType="java.util.List">
         WITH zddwjcfx AS (
            SELECT
                nf,
                ssfxjmc AS ssfjmc,
                SUM ( jcsl ) jcsl
            FROM
                rpt_aqjg_zdmb_zddwjcfx
            WHERE
                jclx = '1'
                AND nf = #{nf}
                AND tjrq = to_char( CURRENT_DATE, 'yyyy-MM-dd' )
                AND ssfxjmc NOT IN ( '城市轨道交通治安分局', '公安分局' )
            GROUP BY
                nf,
                ssfxjmc
            ) SELECT A
            .nf,
            A.ssfjmc,
            jcsl,
            b.zl,
            CEILING ( A.jcsl / b.zl * 100 ) AS percent
        FROM
            zddwjcfx
            A LEFT JOIN ( SELECT nf, SUM ( jcsl ) AS zl FROM zddwjcfx GROUP BY nf ) b ON A.nf = b.nf
            ORDER BY
		      a.ssfjmc
    </select>
    <select id="findNumByZyssslZlMonth" resultType="java.util.HashMap">
         WITH zysssl AS (
            SELECT
                tjrq,
                SUM (dwsl) dwsl
            FROM
                rpt_aqjg_zdmb_zysssl_zl
            WHERE 1=1 AND
                tjrq IN (
                SELECT
                    tjrq
                FROM
                    (
                    SELECT
                        tjrq,
                        ROW_NUMBER () OVER ( PARTITION BY date_trunc( 'month', to_date( tjrq, 'yyyy-MM-dd' ) ) ORDER BY tjrq ) AS ROW
                    FROM
                        rpt_aqjg_zdmb_zysssl_zl
                    ORDER BY
                        tjrq DESC
                    ) AS zysssl
                WHERE 1=1 AND
                    ROW = '1'
                )
            <if test="ssfjmc != null">
                AND ssfjmc IN
                <foreach collection="ssfjmc" index="index" item="item" open="(" separator="," close=")" >
                    #{item}
                </foreach>
            </if>
            GROUP BY
                tjrq
            )
        SELECT SUBSTRING ( tjrq, 6, 2 ) AS yf, dwsl
        FROM zysssl
        WHERE 1=1 AND tjrq LIKE #{nf} || '%' ORDER BY yf
    </select>
    <select id="findNumByZyssslZlYear" resultType="java.util.HashMap">
        SELECT SUBSTRING
            ( tjrq, 1, 4 ) || '年' AS yen ,
            SUM ( dwsl ) dwsl
        FROM
            rpt_aqjg_zdmb_zysssl_zl
        WHERE
            1=1
        AND
            SUBSTRING ( tjrq, 1, 4 ) BETWEEN ( to_char( CURRENT_TIMESTAMP + '-2year', 'yyyy' ) ) AND ( to_char( CURRENT_TIMESTAMP, 'yyyy' ) )
        <if test="ssfjmc != null">
            AND ssfjmc IN
            <foreach collection="ssfjmc" index="index" item="item" open="(" separator="," close=")" >
                #{item}
            </foreach>
        </if>
        GROUP BY
            SUBSTRING ( tjrq, 1, 4 ) ORDER BY yen
    </select>
    <select id="yhslfx" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            a.*,
            COALESCE (b.zgl,0) zgl,
            COALESCE (b.wzgl,0) wzgl
        FROM
            dept_table a
            LEFT JOIN (
        SELECT
            ssfxj,
            sum(
                CASE

                    WHEN ( clzt = '6' AND jclx != '4' AND gljcjg = '1' )
                    OR ( jclx = '4' AND clzt = '6' AND ( gljcjg = '0' OR gljcjg IS NULL ) ) THEN
                    yhsl ELSE 0
                END
            ) zgl,
            sum( CASE WHEN jclx = '4' AND clzt = '6' AND ( gljcjg != '0' OR gljcjg IS NOT NULL ) THEN yhsl ELSE 0 END ) wzgl
        FROM
            rpt_aqjg_zdmb_yhdwtj
        where jc_year is not null and jc_month is not null
        GROUP BY
            ssfxj
            ) b ON a.dept_code = b.ssfxj
    </select>
    <select id="yhslfxMonth" resultType="java.util.Map" parameterType="java.util.Map">
        select b.a datestr, COALESCE ( c.zgl, 0 ) zgl, COALESCE ( c.wzgl, 0 ) wzgl from (
        select regexp_split_to_table(${monthStr},',') a
        ) b left join (
        SELECT
            concat(jc_year,'-',jc_month) datestr,
            sum(
            CASE

            WHEN ( clzt = '6' AND jclx != '4' AND gljcjg = '1' )
            OR ( jclx = '4' AND clzt = '6' AND ( gljcjg = '0' OR gljcjg IS NULL ) ) THEN
            yhsl ELSE 0
            END
            ) zgl,
            sum( CASE WHEN jclx = '4' AND clzt = '6' AND ( gljcjg != '0' OR gljcjg IS NOT NULL ) THEN yhsl ELSE 0 END ) wzgl
        FROM
        rpt_aqjg_zdmb_yhdwtj
        WHERE 1=1 and jc_year is not null and jc_month is not null
            <if test=" area!='全市' ">and ssfxj = (select dept_code from dept_table where dept_name=#{area})
            </if>
        GROUP BY
            jc_year,
            jc_month
        ) c on b.a=c.datestr
    </select>
    <select id="yhslfxYear" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        jc_year datestr,
        sum(
            CASE

            WHEN ( clzt = '6' AND jclx != '4' AND gljcjg = '1' )
            OR ( jclx = '4' AND clzt = '6' AND ( gljcjg = '0' OR gljcjg IS NULL ) ) THEN
            yhsl ELSE 0
            END
        ) zgl,
        sum( CASE WHEN jclx = '4' AND clzt = '6' AND ( gljcjg != '0' OR gljcjg IS NOT NULL ) THEN yhsl ELSE 0 END ) wzgl
        FROM
            rpt_aqjg_zdmb_yhdwtj
        WHERE 1=1 and jc_year is not null
        <if test=" area!='全市' ">
            and ssfxj = (select dept_code from dept_table where dept_name=#{area})
        </if>
        GROUP BY
        jc_year
    </select>
</mapper>