<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.RoadMapper">
    <select id="test" resultType="java.util.HashMap" parameterType="java.util.List">
        select
        *
        from
        rpt_aqjg_ggjt_yhlxtj
        where
        tjrq=to_char(CURRENT_DATE, 'yyyy-mm-dd')
    </select>

    <select id="anTotleNum" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj as (SELECT year||'-'||mon as date,year as yearDate,yhwwcsl,yhwcsl,yhzl FROM rpt_aqjg_ggjt_yhlxtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
        SELECT
            COALESCE(sum(yhzl),0) yhzl,
            COALESCE(sum(yhwcsl),0) yhwcsl,
            COALESCE(sum(yhwwcsl),0) yhwwcsl
        FROM
            yhlxtj
        WHERE
            <if test="firstYear !='' and twoYear !=''">
                yearDate BETWEEN #{firstYear} AND #{twoYear}
            </if>
            <if test="month !='' and month2 !=''">
                 date between #{month} and #{month2}
            </if>
    </select>

    <select id="getAddress" resultType="java.util.HashMap">
        select xqdm AS deptid,xqmc AS deptname from (
            select 'all' AS xqdm, '全市信息' as xqmc
            union all
            select xqdm , xqmc from rpt_aqjg_ggjt_qyxzfx GROUP BY xqdm,xqmc order by xqdm
        ) dll order by xqdm desc
    </select>

    <select id="yhQusFx" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj as (SELECT year||'-'||mon as date,year as yearDate,ddbm,ddmc,yhwwcsl,yhwcsl,yhzl FROM rpt_aqjg_ggjt_yhlxtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
    SELECT
	    ddmc,
	    ddbm,
	    sum(yhzl) yhzl,
        sum(yhwcsl) yhwcsl,
        sum(yhwwcsl) yhwwcsl
    FROM
        yhlxtj
    WHERE
        ddbm in('11','12','13','14','15') and
        <if test="firstYear !='' and twoYear !=''">
          yearDate BETWEEN #{firstYear} AND #{twoYear}
        </if>
        <if test="month !='' and month2 !=''">
             date between #{month} and #{month2}
        </if>
        GROUP BY ddbm,ddmc ORDER BY ddmc
    </select>

    <select id="yhQusXs" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj as (SELECT year||'-'||mon as date,year as yearDate,ddbm,ddmc,yhwwcsl,yhwcsl,yhzl FROM rpt_aqjg_ggjt_yhlxtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
        SELECT
        ddmc,
        ddbm,
        sum(yhzl) yhzl,
        sum(yhwcsl) yhwcsl,
        sum(yhwwcsl) yhwwcsl
        FROM
        yhlxtj
        WHERE
        ddbm in('21','22','23','24','25')  and
        <if test="firstYear !='' and twoYear !=''">
             yearDate BETWEEN #{firstYear} AND #{twoYear}
        </if>
        <if test="month !='' and month2 !=''">
             date between #{month} and #{month2}
        </if>
        GROUP BY ddbm,ddmc ORDER BY ddmc
    </select>

    <select id="yhQusGs" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj as (SELECT year||'-'||mon as date,year as yearDate,ddbm,ddmc,yhwwcsl,yhwcsl,yhzl FROM rpt_aqjg_ggjt_yhlxtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
        SELECT
        ddmc,
        ddbm,
        sum(yhzl) yhzl,
        sum(yhwcsl) yhwcsl,
        sum(yhwwcsl) yhwwcsl
        FROM
        yhlxtj
        WHERE
            ddbm in('31','32','33','34','35','36','37','38','39') and
        <if test="firstYear !='' and twoYear !=''">
             yearDate BETWEEN #{firstYear} AND #{twoYear}
        </if>
        <if test="month !='' and month2 !=''">
             date between #{month} and #{month2}
        </if>
        GROUP BY ddbm,ddmc ORDER BY ddmc
    </select>

    <select id="zyJdFx" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj  as (SELECT year||'-'||mon as date,year as yearDate,jdlx,jdmc,zblx,zblxmc,sl FROM rpt_aqjg_ggjt_yhjdtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
        SELECT
			COALESCE(SUM(CASE WHEN jdlx='1' THEN sl ELSE 0 END),0) mjnum,
			COALESCE(SUM(CASE WHEN jdlx='2' AND zblx='21' THEN sl ELSE 0 END),0) zdlr,
			COALESCE(SUM(CASE WHEN jdlx='2' AND zblx='22' THEN sl ELSE 0 END),0) zdcl,
			COALESCE(SUM(CASE WHEN jdlx='2' AND zblx='23' THEN sl ELSE 0 END),0) zdja,
			COALESCE(SUM(CASE WHEN jdlx='1' AND zblx='24' THEN sl ELSE 0 END),0) zddcl,
			COALESCE(SUM(CASE WHEN jdlx='3' AND zblx='31' THEN sl ELSE 0 END),0) ddlr,
			COALESCE(SUM(CASE WHEN jdlx='3' AND zblx='32' THEN sl ELSE 0 END),0) ddcl,
			COALESCE(SUM(CASE WHEN jdlx='3' AND zblx='33' THEN sl ELSE 0 END),0) ddja,
			COALESCE(SUM(CASE WHEN jdlx='2' AND zblx='34' THEN sl ELSE 0 END),0) dddcl,
			COALESCE(SUM(CASE WHEN jdlx='4' AND zblx='41' THEN sl ELSE 0 END),0) ywlr,
			COALESCE(SUM(CASE WHEN jdlx='4' AND zblx='42' THEN sl ELSE 0 END),0) ywcl,
			COALESCE(SUM(CASE WHEN jdlx='4' AND zblx='43' THEN sl ELSE 0 END),0) ywja,
			COALESCE(SUM(CASE WHEN jdlx='4' AND zblx='44' THEN sl ELSE 0 END),0) ywdcl,
			COALESCE(SUM(CASE WHEN jdlx='5' AND zblx='51' THEN sl ELSE 0 END),0) zhidlr,
			COALESCE(SUM(CASE WHEN jdlx='5' AND zblx='52' THEN sl ELSE 0 END),0) zhidcl,
			COALESCE(SUM(CASE WHEN jdlx='5' AND zblx='53' THEN sl ELSE 0 END),0) zhidja,
			COALESCE(SUM(CASE WHEN jdlx='5' AND zblx='54' THEN sl ELSE 0 END),0) zhiddcl
        FROM
            yhlxtj
        where
        <if test="firstYear !='' and twoYear !=''">
            yearDate between #{firstYear} AND #{twoYear}
        </if>
        <if test="month !='' and month2 !=''">
            date between #{month} and #{month2}
        </if>
    </select>

    <select id="yhLxFx" resultType="java.util.Map" parameterType="java.util.Map">
        with yhlxtj  as (SELECT year||'-'||mon as date,year as yearDate,yhlxmc,yhwcsl,yhlx,yhzl FROM rpt_aqjg_ggjt_yhlxtj  WHERE tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd'))
        SELECT
            yhlxmc,
            sum(yhwcsl) yhwcsl,
            sum(yhzl) yhzl
        FROM
            yhlxtj
        where
        <if test="firstYear !='' and twoYear !=''">
            yearDate between #{firstYear} AND #{twoYear}
        </if>
        <if test="month !='' and month2 !=''">
            date between #{month} and #{month2}
        </if>
        GROUP BY yhlxmc,yhlx
    </select>

    <select id="getSourceSum" resultType="java.util.HashMap" parameterType="com.oceansoft.szga.smp.entity.SourceNum">
        WITH dljtytgltj AS
        (
        select * from (
        select t.lx, t.year || '-' || t.mon as ny, sl
        FROM rpt_aqjg_ggjt_dljtytgltj t
        where t.tjrq = to_char(CURRENT_DATE -2, 'yyyy-MM-dd') and lx in ('1','2','3')
        ) dlj where 1=1
        <if test="type=='nf'">
            and ny BETWEEN #{nyold} || '-01' and #{nynew} || '-12'
        </if>
        <if test="type=='yf'">
            and ny BETWEEN #{nyold} and #{nynew}
        </if>

        )
        select
        (select sum(sl) from dljtytgltj where lx = '1') as qysum,
        (select sum(sl) from dljtytgltj where lx = '2') as clsum,
        (select sum(sl) from dljtytgltj where lx = '3') as rysum
    </select>

    <select id="getFirmAnalzeSum" resultType="java.util.HashMap" parameterType="com.oceansoft.szga.smp.entity.SourceNum">
        WITH qyxzfx AS
            (
              select * from (
                  select t.year || '-' || t.mon as ny, t.xzdl, t.xzdlmc, t.xzxl, coalesce(t.xzxlmc, t.xzdlmc) as xzxlmc, dwsl, xqdm, xqmc
                from rpt_aqjg_ggjt_qyxzfx t
                where t.tjrq = to_char(CURRENT_DATE -2, 'yyyy-MM-dd')
                and t.xzdl in ('1','2','3','4')
              ) dlj where 1=1
                <if test="type=='nf'">
                    and ny between #{nyold} || '-01' and #{nynew} || '-12'
                </if>
                <if test="type=='yf'">
                    and ny between #{nyold} and #{nynew}
                </if>
            )
            select xzdl,xzdlmc,'flhj' xzxlmc, sum(dwsl) dwsl from qyxzfx where 1=1 <if test="deptId!='all'"> and xqdm = #{deptId} </if> group by xzdl,xzdlmc
            union all
            select xzdl,xzdlmc,xzxlmc,coalesce(sum(dwsl),0) dwsl from qyxzfx where 1=1 and xzdl='1' <if test="deptId!='all'"> and xqdm = #{deptId} </if> group by xzdlmc,xzxlmc,xzdl
            union all
            select xzdl,xzdlmc,xzxlmc,coalesce(sum(dwsl),0) dwsl from qyxzfx where 1=1 and xzdl='2' <if test="deptId!='all'"> and xqdm = #{deptId} </if> group by xzdlmc,xzxlmc,xzdl
            union all
            select xzdl,xzdlmc,xzxlmc,coalesce(sum(dwsl),0) dwsl from qyxzfx where 1=1 and xzdl='3' <if test="deptId!='all'"> and xqdm = #{deptId} </if> group by xzdlmc,xzxlmc,xzdl
            union all
            select xzdl,xzdlmc,xzxlmc,coalesce(sum(dwsl),0) dwsl from qyxzfx where 1=1 and xzdl='4' <if test="deptId!='all'"> and xqdm = #{deptId} </if> group by xzdlmc,xzxlmc,xzdl
    </select>

    <select id="getAchievCount" resultType="java.util.HashMap" parameterType="com.oceansoft.szga.smp.entity.SourceNum">
        WITH zllxtj AS (
          select * from (
            select t.year || '-' || t.mon as ny, t.lxdm, t.lxmc, dddm, ddmc, zddm, zdmc, rws, wcs
            from rpt_aqjg_ggjt_zllxtj t where 1=1 and t.tjrq = to_char(CURRENT_DATE -2, 'yyyy-MM-dd')
            and dddm like ('3205%') and zddm like ('3205%')
          )dlj where 1=1
            <if test="type=='nf'">
                and ny between #{nyold} || '-01' and #{nynew} || '-12'
            </if>
            <if test="type=='yf'">
                and ny between #{nyold} and #{nynew}
            </if>
        )
        <if test="cgtype=='tj'"> select dddm,ddmc,sum(rws) rws,sum(wcs) wcs,round(sum(wcs)/sum(rws)*100,1) wcl from ( </if>
        <if test="cgtype=='lx'"> select lxmc,sum(rws) rws,sum(wcs) wcs from ( </if>
        select lxdm, lxmc, dddm, ddmc, zddm, zdmc,sum(rws) rws,sum(wcs) wcs from zllxtj group by lxdm, lxmc, dddm, ddmc, zddm, zdmc
        ) dll group by
        <if test="cgtype=='tj'"> dddm,ddmc order by wcl desc, wcs desc</if>
        <if test="cgtype=='lx'"> lxdm,lxmc </if>
    </select>
</mapper>