<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.ZfMapper">
    <select id="czfPersonNum" resultType="com.oceansoft.szga.smp.entity.CzfPersonNum" parameterType="java.util.List">
    select
        tjrq as tjrq,
        czwdzxzqh as czwdzxzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_czfrs
</select>
    <select id="czfNum" resultType="com.oceansoft.szga.smp.entity.CzfNum" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_czfsl
</select>
    <select id="czfImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_czfzdr
</select>
    <select id="qzfPersonNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        czwdzxzqh as czwdzxzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfrs
</select>
    <select id="qzfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfsl
</select>

    <select id="qzfAreaNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(sl) as totle_fws
    from
        rpt_aqjg_qzf_qzfsl
    where
        xzqhmc =#{xzqhmc} and tjrq &lt;= #{time}
</select>

    <select id="qzfAreaAddNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(sl) as totle_fws
    from
        rpt_aqjg_qzf_qzfsl
    where
        xzqhmc =#{xzqhmc} and tjrq &lt;= #{time}
</select>

    <select id="qzfTotleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(sl) as totle_fws
    from
        rpt_aqjg_qzf_qzfsl
    where
        tjrq &lt;=#{time}
</select>

    <select id="qzfMonthData" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        SUM(sl)
    FROM
        rpt_aqjg_qzf_qzfsl
    WHERE
        tjrq like '%' || #{time} ||'%'
</select>

    <select id="addQzfData2" resultType="java.util.HashMap" parameterType="java.util.List">
    select
    (
    (select sum(sl) as sl from RPT_AQJG_QZF_qzfsl where tjrq like '%' || #{time} ||'%' and xzqhmc = #{xzqhmc}) -
    (select sum(sl) as sl2 from RPT_AQJG_QZF_qzfsl where tjrq like '%' || #{time2} ||'%' and xzqhmc = #{xzqhmc})
    ) as num
</select>

    <select id="addQzfData3" resultType="java.util.HashMap" parameterType="java.util.List">
    select
    (
    (select sum(sl) from RPT_AQJG_QZF_qzfsl where tjrq &lt;= #{time}) -
    (select sum(sl) from RPT_AQJG_QZF_qzfsl where tjrq &lt;= #{time2})
    ) as num
</select>

    <select id="qzfDangerous" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        yhlxdm as yhlxdm,
        yhlxmc as yhlxmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfyhfx
        where yhlxdm between '11' and  '20' order by sl desc
</select>

    <select id="qzfDangerous2" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        yhlxdm as yhlxdm,
        yhlxmc as yhlxmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfyhfx
        where yhlxdm between '21' and  '28' order by sl desc
</select>
    <select id="qzwImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzwzdr
</select>
    <select id="qzfImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfzdry
</select>
    <select id="dangeroursCzf" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczfrs
</select>
    <select id="dangerCzfImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczfzdr
</select>
    <select id="dangerQzfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfsj
</select>


    <select id="yhQzfTotleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(sl)
    from
        rpt_aqjg_qzf_yhqzfsj
        where  xzqhmc = #{xzqhmc}
</select>

    <select id="dangerTypeFx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        yhlbdm as yhlbdm,
        yhlbmc as yhlbmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhdlfx
</select>
    <select id="notDangerType" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        yhlxdm as yhlxdm,
        yhlxmc as yhlxmc,
        sl as sl
    from
        rpt_aqjg_qzf_fzayh
</select>
    <select id="notDangerTypeSb" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        sbzs as sbzs,
        sbwcs as sbwcs,
        sbwwcs as sbwwcs
    from
        rpt_aqjg_qzf_fzayhsb
</select>
    <select id="notDangerTypeSj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqhdm as xzqhdm,
        xzqhmc as xzqhmc,
        fws as fws,
        yhs as yhs,
        zgs as zgs
    from
        rpt_aqjg_qzf_fzayhsj
    </select>

    <select id="fzaYhNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(fws) as totle_fws,
        sum(yhs) totle_yhs,
        sum(zgs) as totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where xzqhmc =#{xzqhmc}
    </select>

    <select id="sigleData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws as totle_fws,
        yhs as totle_yhs,
        zgs as totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where xzqhmc =#{xzqhmc} and tjrq  between #{time} and #{time2} ORDER BY tjrq
    </select>

    <select id="totleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
       sum(fws) totle_fws,
       sum(yhs) totle_yhs,
       sum(zgs) totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where tjrq between #{time} and #{time2} group by tjrq ORDER BY tjrq ASC
    </select>

    <select id="totleNum2" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
       sum(fws) totle_fws,
       sum(yhs) totle_yhs,
       sum(zgs) totle_zgs
    from
        rpt_aqjg_qzf_zayhsj
        where tjrq between #{time} and #{time2} group by tjrq ORDER BY tjrq ASC
    </select>

    <select id="zaYhNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
       sum(fws) totle_fws,
       sum(yhs) totle_yhs,
       sum(zgs) totle_zgs
    from
        rpt_aqjg_qzf_zayhsj
        where xzqhmc = #{xzqhmc}
    </select>


    <select id="floatingPopulationS" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        qhdm as qhdm,
        qhmc as qhmc,
        sl as sl
    from
        rpt_aqjg_qzf_ldrklyds
</select>
    <select id="floatingPopulationShi" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        qhdm as qhdm,
        qhmc as qhmc,
        sl as sl
    from
        rpt_aqjg_qzf_ldrklydshi
</select>
    <select id="floatingPopulationX" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        qhdm as qhdm,
        qhmc as qhmc,
        sl as sl
    from
        rpt_aqjg_qzf_ldrklydx
</select>
    <select id="floatingPopulationAge" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        nld as nld,
        sl as sl
    from
        rpt_aqjg_qzf_ldrknlfx
</select>
    <select id="floatingPopulationNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        nld as nld,
        sl as sl
    from
        rpt_aqjg_qzf_ldrksl
</select>
    <select id="floatingPopulationTrueNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_ldrksys
</select>
    <select id="czfImpXzqh" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_czfzdrs_xzqh
</select>
    <select id="fzayhff" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhff
</select>
    <select id="fzayhrl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhrl
</select>
    <select id="fzayhsh" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhsh
</select>
    <select id="fzayhza" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhza
</select>
    <select id="qyldrysl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        ldrysl as ldrysl
    from
        rpt_aqjg_qzf_qyldrysl
</select>
    <select id="czfzdrrsXzqh" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczfzdrrs_xzqh
</select>
    <select id="czfzdrrsZdlx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        zdrylx as zdrylx,
        zdrylxmc as zdrylxmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczfzdrrs_zdlx
</select>
    <select id="yhczfzdrLx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczfzdr_lx
</select>
    <select id="yhczwsj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczwsj
</select>
    <select id="yhfwpcs" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqhdm as xzqhdm,
        xzqhmc as xzqhmc,
        pcsdm as pcsdm,
        pcsmc as pcsmc,
        yhsl as yhsl,
        yhfws as yhfws
    from
        rpt_aqjg_qzf_yhfwpcs
</select>
    <select id="yhqs" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        zayh_fxsl as zayh_fxsl,
        zayh_zgsl as zayh_zgsl,
        fzayh_fxsl as fzayh_fxsl,
        fzayh_tssl as fzayh_tssl,
        fzayh_zgsl as fzayh_zgsl
    from
        rpt_aqjg_qzf_yhqs
</select>
    <select id="yhqzfrs" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfrs
</select>
    <select id="qzfzdrrsXzqh" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfzdrrs_xzqh
</select>
    <select id="qzfzdrrsZdlx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        zdrylx as zdrylx,
        zdrylxmc as zdrylxmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfzdrrs_zdlx
</select>
    <select id="yhqzfzdry" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfzdry
</select>
    <select id="yhqzfzdrLx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfzdr_lx
</select>
    <select id="yhqzwsj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzwsj
</select>
    <select id="yhqzwzdr" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzwzdr
</select>
    <select id="zayhlx" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        yhlxdm as yhlxdm,
        yhlxmc as yhlxmc,
        sl as sl
    from
        rpt_aqjg_qzf_zayhlx
</select>
    <select id="zayhsj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqhdm as xzqhdm,
        xzqhmc as xzqhmc,
        fws as fws,
        yhs as yhs,
        zgs as zgs
    from
        rpt_aqjg_qzf_zayhsj
</select>
    <select id="zayhFxsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        fxsl as fxsl
    from
        rpt_aqjg_qzf_zayhzg_fxsl
</select>
    <select id="zayhWzgsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        wzgsl as wzgsl
    from
        rpt_aqjg_qzf_zayhzg_wzgsl
</select>
    <select id="zayhZgsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        zgsl as zgsl
    from
        rpt_aqjg_qzf_zayhzg_zgsl
</select>
    <select id="zdrysl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        nld as nld,
        sl as sl
    from
        rpt_aqjg_qzf_zdrysl
</select>
    <select id="czfzdry" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        fldm as fldm,
        flmc as flmc,
        sl as sl
    from
        rpt_aqjg_qzf_czfzdry
</select>
</mapper>