<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.szsh.core.mapper.system.CmCaseMapper">

    <select id="classRoleOrglist" resultType="com.oceansoft.szga.smp.szsh.core.entity.system.CmCase">
        select distinct  cc.id, cc.case_name, cc.org_id, cc.org_name, cc.created_date, cc.created_by, cc.last_modified_by,
        cc.last_modified_date, cc.case_type, cc.sort
        from cm_case cc inner join cm_shcase_org co
        on cc.id=co.case_id
        where cc.case_type='sh'
        <if test="className!=null and className!=''">
            AND #{className,jdbcType=VARCHAR} like '%'||cc.org_name||'%'
        </if>
        <if test="orgID!=null and orgID!=''">
            AND #{orgID,jdbcType=VARCHAR} like '%'||co.department_id||'%'
        </if>
        order by cc.sort asc
    </select>



    <select id="classRoleOrglistByOrgID" resultType="com.oceansoft.szga.smp.szsh.core.entity.system.CmCase">
        select distinct  cc.id, cc.case_name, cc.org_id, cc.org_name, cc.created_date, cc.created_by, cc.last_modified_by,
        cc.last_modified_date, cc.case_type, cc.sort
        from cm_case cc inner join cm_shcase_org co
        on cc.id=co.case_id
        where cc.case_type='sh'
        <if test="className!=null and className!=''">
            AND #{className,jdbcType=VARCHAR} like '%'||cc.org_name||'%'
        </if>
        <if test="orgID!=null and orgID!=''">
            AND co.department_id = #{orgID,jdbcType=VARCHAR}
        </if>
        order by cc.sort asc
    </select>



    <!--<select id="classRoleOrglist" resultType="com.oceansoft.szga.smp.szsh.core.entity.system.CmCase">-->
        <!--select distinct  cc.id, cc.case_name, cc.org_id, cc.org_name, cc.created_date, cc.created_by, cc.last_modified_by,-->
        <!--cc.last_modified_date, cc.case_type, cc.sort, cc.is_sj-->
        <!--from cm_case cc-->
        <!--where cc.case_type='sh'-->
        <!--<if test="className!=null and className!=''">-->
            <!--AND #{className,jdbcType=VARCHAR} like '%'||cc.org_name||'%'-->
        <!--</if>-->
        <!--and cc.is_sj=1-->
        <!--order by cc.sort asc-->
    <!--</select>-->


    <select id="getShCaseListPage" resultType="com.oceansoft.szga.smp.szsh.core.vo.system.ShCaseV0">
        select distinct cc.id, cc.case_name, cc.org_id as class_id, cc.org_name as class_name,
        cc.case_type, cc.sort
        from cm_case cc inner join cm_shcase_org cs on cc.id=cs.case_id
        where cc.case_type='sh'
        <if test="findShCaseDTO.caseName!=null and findShCaseDTO.caseName!=''">
            and cc.case_name like '%'||#{findShCaseDTO.caseName}||'%'
        </if>
        <if test="findShCaseDTO.classId!=null and findShCaseDTO.classId!=''">
            and cc.org_id = #{findShCaseDTO.classId}
        </if>
        <if test="findShCaseDTO.orgId!=null and findShCaseDTO.orgId!=''">
            and cs.department_id = #{findShCaseDTO.orgId}
        </if>
        order by cc.sort asc
    </select>

</mapper>