<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.DangerousMapper">

    <select id="queryBaseInfo" resultType="java.util.Map">
        select * from rpt_aqjg_za_zbxx order by  zbbm
    </select>
    <select id="querySuperviseUnit" resultType="java.lang.Integer">
        SELECT sum(sl) FROM "rpt_aqjg_za_dwxx" WHERE yyzt = '01' and hwlb like concat('%',#{str},'%')
    </select>
    <select id="queryAllSuperviseUnit" resultType="java.lang.Integer">
        SELECT sum(sl) FROM "rpt_aqjg_za_dwxx" WHERE yyzt = '01'
    </select>
    <select id="querySfgyl" resultType="java.lang.Integer">
        SELECT sum(sl) FROM "rpt_aqjg_za_ryxx" WHERE sfzx = '0' and sfgly = '1'
    </select>
    <select id="querySfczy" resultType="java.lang.Integer">
        SELECT sum(sl) FROM "rpt_aqjg_za_ryxx" WHERE sfzx = '0' and sfczy = '1'
    </select>
    <select id="querySfzabwy" resultType="java.lang.Integer">
        SELECT sum(sl) FROM "rpt_aqjg_za_ryxx" WHERE sfzx = '0' and sfczy = '1'
    </select>
    <select id="queryDangerousDw" resultType="java.util.Map">
        SELECT
            fjmc,
        sum ( sl )
        FROM
            "rpt_aqjg_za_dwxx"
        WHERE
            yyzt = '01'
        <if test="zawxpdjdmList != null">
            AND zawxpdjdm IN
        <foreach item="item" index="index" collection="zawxpdjdmList" open="(" separator="," close=")">
            #{item}
        </foreach>
        </if>
        <if test="zawxpdjdmList != null">
            AND hwlb IN
            <foreach item="item" index="index" collection="zawxpdjdmList" open="(" separator="," close=")">
            #{item}
            </foreach>
        </if>
        GROUP BY
            fjmc
    </select>
    <select id="queryImportDw" resultType="java.util.Map">
        SELECT
            fjmc,
            SUM ( sl )
        FROM
            "rpt_aqjg_za_ryxx"
        WHERE
            sfzx = '0'
        <if test="ywlxdmList != null">
        <if test="ywlxdmList.contains(&quot;管理员&quot;)">
            and sfgly = '1'
        </if>
        <if test="ywlxdmList.contains(&quot;操作员&quot;)">
            and sfczy = '1'
        </if>
        <if test="ywlxdmList.contains(&quot;治安保卫员&quot;)">
            and sfzabwy = '1'
        </if>
        </if>
        GROUP BY
            fjmc
    </select>
    <select id="queryHighPoison" resultType="java.util.Map">
        SELECT wpmc, sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '1' GROUP BY wpmc order by sum(sl) desc
    </select>
    <select id="queryEasyBoom" resultType="java.util.Map">
        SELECT wpmc, sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '2' GROUP BY wpmc order by sum(sl) desc
    </select>
    <select id="queryHighPoisonLine" resultType="java.util.Map">
        <choose>
        <when test="type == 1">
            SELECT date,sum(sl) FROM (SELECT year||'-'||mon as date, sl FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '1')t GROUP BY date ORDER BY date ASC
        </when>
        <otherwise>
            SELECT year,sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '1' GROUP BY year order by year
        </otherwise>
        </choose>
    </select>
    <select id="queryEasyBoomLine" resultType="java.util.Map">
        <choose>
            <when test="type == 1">
                SELECT date,sum(sl) FROM (SELECT year||'-'||mon as date, sl FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '2')t GROUP BY date ORDER BY date ASC
            </when>
            <otherwise>
                SELECT year,sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE sjlx = '51' and wpdl = '2' GROUP BY year order by year
            </otherwise>
        </choose>
    </select>
    <select id="queryCurrentStockNum" resultType="java.util.Map">
        select * from rpt_aqjg_za_zbxx where zbbm = 'ZB_0003'
    </select>
    <select id="queryHalfYearNum" resultType="java.util.Map">
        select * from rpt_aqjg_za_zbxx where zbbm = 'ZB_0012'
    </select>
    <select id="queryHousingAllNum" resultType="java.lang.Long">
        select sum(sl) sl from rpt_aqjg_za_wpcrk where lbdm like '1%'
    </select>
    <select id="queryBuyNum" resultType="java.lang.Long">
        select sl from rpt_aqjg_za_wpcrk where lbdm = '11'
    </select>
    <select id="queryProductNum" resultType="java.lang.Long">
        select sl from rpt_aqjg_za_wpcrk where lbdm = '12'
    </select>
    <select id="queryWpcrk" resultType="java.util.Map">
        select * from rpt_aqjg_za_wpcrk
    </select>
    <select id="queryUseHousingNum" resultType="java.lang.Long">
        select sum(sl) sl from rpt_aqjg_za_wpcrk where lbdm like '5%'
    </select>
    <select id="queryDangerHighPoisonDw" resultType="java.util.Map">
        SELECT a.fjmc,a.jd,b.jy FROM
        ((SELECT fjmc,sum(sl) jd FROM "rpt_aqjg_za_dwxx" WHERE yyzt = '01' AND hwlb like concat('%',#{hwlb},'%')
        <if test="year != null">
        and year = #{year}
        </if>
        GROUP BY fjmc) a LEFT JOIN
        (SELECT fjmc,sum(sl) jy FROM "rpt_aqjg_za_dwxx" WHERE yyzt = '01' AND hwlb like '%1%8%'
        <if test="year != null">
            and year = #{year}
        </if>
        GROUP BY fjmc) b ON a.fjmc = b.fjmc)
    </select>
    <select id="queryDangerHighPoisonLxAllCount" resultType="java.lang.Long">
        SELECT sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE wpdl = #{wpdl}
    </select>
    <select id="queryEveryKindNum" resultType="java.util.Map">
        SELECT wpmc,sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE wpdl = #{wpdl} AND sjlx = #{type}
        <if test="year != null">
            and year = #{year}
        </if>
         GROUP BY wpmc
    </select>
    <select id="queryDangerHighPoisonRank" resultType="java.util.Map">
        SELECT fjmc, sum(sl) FROM "rpt_aqjg_za_wpfx" WHERE wpdl = #{wpdl} AND sjlx = #{type}
        <if test="year != null">
            and year = #{year}
        </if>
         GROUP BY fjmc ORDER BY sum(sl) desc LIMIT 10
    </select>
    <select id="queryCompanyRank" resultType="java.util.Map">
        SELECT fjmc,sum(sl) FROM "rpt_aqjg_za_dwxx" GROUP BY fjmc
    </select>
    <select id="queryImpPostRank" resultType="java.util.Map">
        SELECT fjmc, sum(sl) FROM "rpt_aqjg_za_ryxx" WHERE sfzx = '0' GROUP BY fjmc
    </select>
    <select id="queryCompanyCheckRank" resultType="java.util.Map">
        SELECT ssfxjmc, sum(sl) FROM "rpt_aqjg_za_dwjcxx" WHERE jcztdm = '2' GROUP BY ssfxjmc
    </select>
    <select id="queryHiddenDiscoverRank" resultType="java.util.Map">
        SELECT fjmc, sum(sl) FROM "rpt_aqjg_za_dwyhxx" GROUP BY fjmc
    </select>
    <select id="queryHiddenHandleRank" resultType="java.util.Map">
        SELECT fjmc, sum(sl) FROM "rpt_aqjg_za_dwyhxx" WHERE sfzg = '1' GROUP BY fjmc
    </select>
    <select id="queryHiddenNoHandleRank" resultType="java.util.Map">
        SELECT fjmc, sum(sl) FROM "rpt_aqjg_za_dwyhxx" WHERE sfzg = '0' GROUP BY fjmc
    </select>
    <select id="queryEarlyHandleRank" resultType="java.util.Map">
        SELECT fjmc,sum(sl) FROM "rpt_aqjg_za_yjxx" GROUP BY fjmc
    </select>
    <select id="queryNumAnalysisZg" resultType="java.util.Map">
        SELECT fjmc, SUM ( sl ) zgl FROM "rpt_aqjg_za_dwyhxx" WHERE hwlb LIKE concat('%',#{hwlb},'%') AND sfzg = '1' AND jcjg = #{jcjg} GROUP BY fjmc
    </select>
    <select id="queryNumAnalysisWzg" resultType="java.util.Map">
        SELECT fjmc, SUM ( sl ) wzgl FROM "rpt_aqjg_za_dwyhxx" WHERE hwlb LIKE concat('%',#{hwlb},'%') AND sfzg = '0' AND jcjg = #{jcjg} GROUP BY fjmc
    </select>
    <select id="queryDrillRank1" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_dwxx" WHERE fjmc = #{fjmc} GROUP BY pcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank2" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_ryxx" WHERE sfzx = '0' AND fjmc = #{fjmc} GROUP BY pcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank3" resultType="java.util.Map">
        SELECT sspcsmc,sum(sl) FROM "rpt_aqjg_za_dwjcxx" WHERE jcztdm = '2' AND ssfxjmc = #{fjmc} GROUP BY sspcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank5" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_dwyhxx" WHERE fjmc = #{fjmc} GROUP BY pcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank6" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_dwyhxx" WHERE fjmc = #{fjmc} AND sfzg = '1' GROUP BY pcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank7" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_dwyhxx" WHERE fjmc = #{fjmc} AND sfzg = '0' GROUP BY pcsmc ORDER BY sum desc
    </select>
    <select id="queryDrillRank8" resultType="java.util.Map">
        SELECT pcsmc,sum(sl) FROM "rpt_aqjg_za_yjxx" WHERE fjmc = #{fjmc} GROUP BY pcsmc ORDER BY sum desc
    </select>


</mapper>