<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.DeliverylogisticsMapper">

    <select id="sumDeliverylogistics" resultType="java.util.Map">
        SELECT
        (select sum(zbsl) from rpt.RPT_AQJG_JDWL_LCJG_SYDW) AS jdwl,
        (select sum(zbsl) from rpt.RPT_AQJG_JDWL_LCJG_CYRY) AS cyry,
        (select count(1) from ods.ods_manu_smsj) AS smsj,
        (select sum(sl) from rpt.rpt_aqjg_jdwl_jcgtj where lxdm in ('11','12','21','22')) AS jcgs,
        (select sum(zbsl) from rpt.RPT_AQJG_JDWL_LCJG_SYDW where zrsqd='1') AS aqzrs,
        (select count(1) from rpt.RPT_AQJG_JDWL_DWJCXX WHERE JCLXDM = '1') AS cgjc,
        (select count(1) from rpt.RPT_AQJG_JDWL_DWJCXX WHERE JCLXDM = '2') AS zdjc,
        (select count(1) from rpt.RPT_AQJG_JDWL_DWJCXX WHERE JCLXDM = '3') AS zxjc,
        (select count(1) from rpt.RPT_AQJG_JDWL_YHMX) AS yhfx,
        (select count(1) from rpt.RPT_AQJG_JDWL_YHMX WHERE (jclx in ('1','2','3') and clzt ='1' or jclx ='4' and clzt ='3')) AS yhcl
    </select>

    <select id="dwfl" resultType="java.util.Map">
        select dwfl,dwflmc as name,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_SYDW where dwfl in ('0','1','2','3','4','5') group by 1,2
    </select>

    <select id="cyry" resultType="java.util.Map">
      select rylb as name,sum(zbsl) AS num from rpt.RPT_AQJG_JDWL_LCJG_CYRY group by rylb
    </select>

    <select id="yhlx" resultType="map">
        select jcxmc as name,count(jcxmc) as num from rpt.rpt_aqjg_jdwl_yhmx where xxz ='否' and jcxlx !='0' GROUP BY jcxmc ORDER BY count(jcxmc) DESC
    </select>

    <select id="jdfl" resultType="map">
        select xzqh,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_SYDW
        where 1=1
        <if test="mc !=null and mc !=''">
                and dwflmc in <foreach item="item"  collection="mc" open="(" separator="," close=")"> #{item}
            </foreach>
        </if>
        group by 1
    </select>

    <select id="ryfl" resultType="map">
        select xzqh,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_CYRY
        <if test="mc !=null and mc !=''">
            and rylb in <foreach item="item"  collection="mc" open="(" separator="," close=")"> #{item}
        </foreach>
        </if>
        group by xzqh
    </select>

    <select id="dwfx" resultType="map">
        select COALESCE(dwfl,'无'),COALESCE(dwflmc,'无') as name,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_SYDW where 1=1
        <if test="xzqhs !=null ">
          and xzqh in <foreach item="item"  collection="xzqhs" open="(" separator="," close=")"> #{item}
            </foreach>
        </if>
        group by 1,2
    </select>
    
    <select id="dwfltsyf" resultType="int">
        select COALESCE(sum(zbsl),0) as num from rpt."rpt_aqjg_jdwl_lcjg_sydw" where djrq like #{data} ||'%'
    </select>

    <select id="dwfltsrq" resultType="int">
        select COALESCE(sum(zbsl),0) as num from rpt."rpt_aqjg_jdwl_lcjg_sydw" where djrq = #{data}
    </select>
    <select id="ryfltsyf" resultType="int">
        select COALESCE(sum(zbsl),0) as num from rpt."rpt_aqjg_jdwl_lcjg_cyry" where djrq like #{data} ||'%'
    </select>
    <select id="ryfltsrq" resultType="int">
        select COALESCE(sum(zbsl),0) as num from rpt."rpt_aqjg_jdwl_lcjg_cyry" where djrq = #{data}
    </select>

    <select id="dwdj" resultType="map">
        select COALESCE(dwdj,'无') as dwdj,COALESCE(dwdjmc,'无') as name,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_SYDW where dwflmc='末端网点'
        <if test="xzqhs !=null ">
            and xzqh in <foreach item="item"  collection="xzqhs" open="(" separator="," close=")"> #{item}
        </foreach>
        </if>
        group by 1,2
    </select>

    <select id="zabw" resultType="map">
        select xzqh,sum(zbsl) as num from rpt.rpt_aqjg_jdwl_lcjg_sydw where jbdj in('1','2','3') group by 1
    </select>

    <select id="zabwzsl" resultType="int">
        select sum(zbsl) from rpt.RPT_AQJG_JDWL_LCJG_SYDW where jbdj in('1','2','3')
    </select>

    <select id="aqzr" resultType="map">
        select xzqh,sum(zbsl) as num from rpt.RPT_AQJG_JDWL_LCJG_SYDW where zrsqd='1' group by 1
    </select>

    <select id="aqzrzsl" resultType="int">
        select sum(zbsl) from rpt.RPT_AQJG_JDWL_LCJG_SYDW where zrsqd='1'
    </select>
    
    <select id="dwjc" resultType="map">
        select ssfxjmc as name,count(ssfxjmc) as num from rpt.rpt_aqjg_jdwl_dwjcxx where ssfxjmc!=''
        <if test="jcztdm !=null and jcztdm != ''">
            and  jcztdm =#{jcztdm}
        </if>
        <if test="jclxdm !=null and jclxdm != ''">
            and  jclxdm =#{jclxdm}
        </if>
         group by 1
    </select>

    <select id="jgyf" resultType="int">
        select sum(sl) from rpt.rpt_aqjg_jdwl_jcgtj where lxdm in ('12','22') and tjrq like #{data} ||'%'
    </select>

    <select id="jgrq" resultType="int">
        select sum(sl) from rpt.rpt_aqjg_jdwl_jcgtj where lxdm in ('12','22') and tjrq = #{data}
    </select>

    <select id="cgyf" resultType="int">
        select sum(sl) from rpt.rpt_aqjg_jdwl_jcgtj where lxdm in ('11','21') and tjrq = #{data}
    </select>

    <select id="cgrq" resultType="int">
        select sum(sl) from rpt.rpt_aqjg_jdwl_jcgtj where lxdm in ('11','21') and tjrq like #{data} ||'%'
    </select>


</mapper>