<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.FlowReportMapper">

    <insert id="add" parameterType="com.oceansoft.szga.smp.entity.FlowReport">
	insert into  flow_report
	(guid,flow_type,report_dept,report_date,task_name,des,receipts_info,file_ids,create_user,create_date,source)
	values(#{guid},#{flowType},#{reportDept},#{reportDate},#{taskName},#{des},#{receiptsInfo},#{fileIds},#{createUser},now(),'手工')
	</insert>

    <select id="findNodes" resultType="map">
    select * from flow_node where flow_type=#{flowType} and parent_id=#{id}
    </select>

    <select id="findNextNodes" resultType="map">
    select * from flow_node a,flow_report_task b where a.parent_id =b.flow_node_id and b.guid=#{guid}
    </select>

    <update id="completeTask" parameterType="com.oceansoft.szga.smp.entity.FlowExecute">
    update flow_report_task set state='1' ,update_user=#{updateUser},update_date=now(),des=#{des} where guid=#{guid}
    </update>

    <select id="get" resultType="map">
    select * from flow_report where guid=#{guid}
    </select>

    <select id="page" resultType="com.oceansoft.szga.smp.config.domain.ApiQueryBase">
    SELECT
        T.*,
        M.guid qs_guid,
        M.STATE qs_state,
        n.guid ff_guid,
        n.STATE ff_state
    FROM
        (
    SELECT DISTINCT
        A.guid,
        A.create_date,
        A.report_dept,
        A.flow_type,
        A.task_name,
        C.node_type
    FROM
        flow_report A,
        flow_report_task b,
        flow_node C
    WHERE
        A.guid = b.flow_id
        AND b.flow_node_id = C.ID
        AND A.is_delete = '0'
        <if test=" dept!='' and dept !=null ">
            AND b.dept = #{dept}
        </if>
        <if test=" reportDept!='' and reportDept !=null ">
            and a.report_dept =#{reportDept}
        </if>
        <if test=" flowType!='' and flowType !=null ">
            and a.flow_type =#{flowType}
        </if>
        <if test=" keyword!='' and keyword !=null ">
            and (a.report_dept like '%'||#{keyword}||'%' or a.task_name like '%'||#{keyword}||'%')
        </if>
        )
        T LEFT JOIN ( SELECT s.guid, s.STATE, s.flow_id FROM flow_report_task s WHERE s.action_name = '签收' ) M ON M.flow_id = T.guid
        LEFT JOIN ( SELECT s.guid, s.STATE, s.flow_id FROM flow_report_task s WHERE s.action_name = '分发' ) n ON n.flow_id = T.guid
        where 1=1
        <if test=" qsState!='' and qsState !=null ">
            and m.state =#{qsState}
        </if>
        <if test=" ffState!='' and ffState !=null ">
            and n.state =#{ffState}
        </if>
    </select>

    <insert id="addTask" parameterType="map">
	insert into  flow_report_task
	(guid,flow_id,create_date,create_user,node_name,state,dept,flow_node_id,des,action_name)
	values(#{guid},#{flow_id},now(),#{create_user},#{node_name},'0',#{dept},#{flow_node_id},#{des},#{action_name})
	</insert>


    <select id="getTasks" resultType="map">
    select * from flow_report_task where flow_id=#{guid}
    </select>
    <select id="getTask" resultType="map">
    select * from flow_report_task where guid=#{guid}
    </select>
</mapper>