<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.FlowReportMapper">

    <insert id="add" parameterType="com.oceansoft.szga.smp.entity.FlowReport">
	insert into  flow_report
	(guid,flow_type,report_dept,report_date,task_name,des,receipts_info,file_ids,create_user,create_user_id,create_date,is_delete,source)
	values(#{guid},#{flowType},#{reportDept},#{reportDate},#{taskName},#{des},#{receiptsInfo},#{fileIds},#{createUser},#{createUserId},now(),#{isDelete},'手动')
	</insert>

    <select id="findNodes" resultType="map">
    select * from flow_node where flow_type=#{flowType} and parent_id=#{id}
    </select>

    <select id="findNextNodes" resultType="map">
    select * from flow_node a,flow_report_task b where a.parent_id =b.flow_node_id and b.guid=#{guid}
    </select>

    <update id="completeTask" parameterType="com.oceansoft.szga.smp.entity.FlowExecute">
    update flow_report_task set state='1' ,update_user=#{updateUser},update_date=now(),des=#{des} where guid=#{guid}
    </update>

    <update id="updateInfo" parameterType="com.oceansoft.szga.smp.entity.FlowReport">
        update
            flow_report
        set
            flow_type =#{flowType},
            report_dept=#{reportDept},
            report_date=#{reportDate},
            task_name=#{taskName},
            des=#{des},
            receipts_info=#{receiptsInfo},
            file_ids=#{fileIds},
            create_user=#{createUser},
            create_user_id=#{createUserId},
            create_date= now(),
            is_delete=#{isDelete},
            source='手动',
        where
            guid=#{uid}
    </update>

    <select id="get" resultType="map">
    select * from flow_report where guid=#{guid}
    </select>

    <select id="getNum" resultType="integer">
    select count(*) from flow_report where guid=#{guid}
    </select>

    <update id="updateIsDelete" parameterType="com.oceansoft.szga.smp.entity.FlowReport">
        update flow_report set is_delete = '1' where guid=#{guid}
    </update>

    <select id="findAll" resultType="java.util.HashMap">
        select * from flow_report
    </select>

    <select id="page" resultType="java.util.HashMap">
    SELECT
        T.*,
        M.guid qs_guid,
        COALESCE(M.action_name,'未签收') qs_state,
        n.guid ff_guid,
        COALESCE(n.action_name,'未分发') ff_state
    FROM
        (
    SELECT DISTINCT
            A.*,
--         A.guid,
        TO_CHAR(A.create_date,'yyyy-MM-dd hh24:mi') createdate,
--         A.report_dept,
--         A.flow_type,
--         A.task_name,
--         A.source,
        C.node_type,
        TO_CHAR(B.update_date,'yyyy-MM-dd hh24:mi') update_date,
        B.update_user
--         A.create_user,
--         A.create_user_id,
--         A.receipts_info
    FROM
        flow_report A,
        flow_report_task b,
        flow_node C
    WHERE
--         A.guid = b.flow_id
         b.flow_node_id = C.ID
        AND A.is_delete = '0'
<!--        <if test=" dept!='' and dept !=null ">-->
<!--            AND b.dept = #{dept}-->
<!--        </if>-->
        <if test=" conditions.reportDept!='' and conditions.reportDept !=null ">
            and a.report_dept =#{conditions.reportDept}
        </if>
        <if test=" conditions.flowType!='' and conditions.flowType !=null ">
            and a.flow_type =#{conditions.flowType}
        </if>
        <if test=" conditions.keyword!='' and conditions.keyword !=null ">
            and (a.report_dept like '%'||#{conditions.keyword}||'%' or a.task_name like '%'||#{conditions.keyword}||'%')
        </if>
        ) T
         LEFT JOIN ( SELECT s.guid, s.STATE, s.flow_id,s.action_name FROM flow_report_task s WHERE s.action_name = '签收' ) M ON M.flow_id = T.guid
        LEFT JOIN ( SELECT s.guid, s.STATE, s.flow_id,s.action_name FROM flow_report_task s WHERE s.action_name = '分发' ) n ON n.flow_id = T.guid
        where 1=1
        <if test=" conditions.qsState!='' and conditions.qsState !=null ">
            and m.state =#{conditions.qsState}
        </if>
        <if test=" conditions.ffState!='' and conditions.ffState !=null ">
            and n.state =#{conditions.ffState}
        </if>
        ORDER BY create_date
    </select>

    <insert id="addTask" parameterType="map">
	insert into  flow_report_task
	(guid,flow_id,create_date,create_user,node_name,state,dept,flow_node_id,des,action_name,update_date,update_user)
	values(#{guid},#{flow_id},now(),#{create_user},#{node_name},'0',#{dept},#{flow_node_id},#{des},#{action_name},now(),#{update_user})
	</insert>


    <select id="getTasks" resultType="map">
    select * from flow_report_task where flow_id=#{guid}
    </select>
    <select id="getTask" resultType="map">
    select * from flow_report_task where guid=#{guid}
    </select>
    <select id="userAll" resultType="com.oceansoft.szga.smp.szsh.core.entity.system.SysUser">
        select * from sys_user where id=#{id}
    </select>

</mapper>