<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.ProcessChargeMapper">

    <select id="queryRoadSafeTable" resultType="java.util.Map">
        SELECT a.yhbh, a.cjsj, a.sjly, a.yhddmc, b.mc, a.lczt, a.clzt, c.name, a.wcsj FROM ods."ods_rt_jj_v_tb_yhpc" a
        LEFT JOIN ods."ods_rt_dm_v_yhpc_lx" b ON a.yhlx = b.dm
        LEFT JOIN ods."ods_rt_psms_sec_org" c ON a.mjbm = c.id
        <where>
            <if test="questionQueryBean.keyWord != null and questionQueryBean.keyWord != ''">
                (a.sjly like concat('%',#{questionQueryBean.keyWord},'%') or a.yhddmc like concat('%',#{questionQueryBean.keyWord},'%') or b.mc like concat('%',#{questionQueryBean.keyWord},'%'))
            </if>
            <if test="questionQueryBean.reactionDept == '民警录入'">
                and a.lczt = 1
            </if>
            <if test="questionQueryBean.reactionDept == '中队审核'">
                and a.lczt IN (2,3,4,5)
            </if>
            <if test="questionQueryBean.reactionDept == '大队审核'">
                and a.lczt IN (6,7,8,9)
            </if>
            <if test="questionQueryBean.reactionDept == '业务部门审核'">
                and a.lczt IN (10,11,12,13)
            </if>
            <if test="questionQueryBean.reactionDept == '支队审核'">
                and a.lczt IN (14,15,16,17)
            </if>
        </where>
    </select>
    <select id="queryRoadSafePointById" resultType="java.util.Map">
        SELECT cjsj, lczt FROM ods."ods_rt_jj_v_tb_yhpc" WHERE yhbh = #{id}
    </select>
    <select id="queryQzfTable" resultType="java.util.Map">
        SELECT a.bh, a.gxsj, a.xxly, a.czwdz, a.yhxxms, a.zzzt, a.shzt, a.lzzt, a.ffzt, a.rlzt, a.zgzt, b.name, a.zzsj, a.yhdl FROM ods."ods_rt_czfw_yhxx" a
        LEFT JOIN ods.ods_rt_dict_sqxx b ON a.sqdm = b.url
        <where>
        <choose>
            <when test="type == 1">
                a.yhdl = '1'
            </when>
            <otherwise>
                a.yhdl != '1'
            </otherwise>
        </choose>
        <if test="questionQueryBean.keyWord != null and questionQueryBean.keyWord != ''">
            and (a.xxly like concat('%',#{questionQueryBean.keyWord},'%') or a.czwdz like concat('%',#{questionQueryBean.keyWord},'%') or a.yhxxms like concat('%',#{questionQueryBean.keyWord},'%'))
        </if>
        <if test="questionQueryBean.reactionDept == '上报' || questionQueryBean.reactionDept == '分发'">
            and a.lzzt IN ('0','1')
        </if>
        <if test="questionQueryBean.reactionDept == '审核'">
            and a.shzt IN ('2','3')
        </if>
        <if test="questionQueryBean.reactionDept == '分发'">
            and a.ffzt IN ('5')
        </if>
        <if test="questionQueryBean.reactionDept == '认领'">
            and a.rlzt IN ('1005')
        </if>
        <if test="questionQueryBean.reactionDept == '整改'">
            and a.zgzt IN ('1006')
        </if>
        </where>
    </select>
    <select id="queryQzfPoint" resultType="java.util.Map">
        SELECT gxsj, lzzt, shzt, ffzt, rlzt, zgzt, yhdl FROM ods."ods_rt_czfw_yhxx" WHERE bh = #{id}
    </select>
    <select id="queryImpTable" resultType="java.util.Map">
        SELECT a.rwzj, a.jcsj, a.jcd, a.dwmc, a.jclx, a.clzt, a.dwdz, a.jzsj FROM ods."ods_rt_zypt_jcrw_new_yhxx" a
        INNER JOIN ods.ods_rt_zypt_sydw_jbxx b ON a.glzj = b.dwzj
        <if test="type == 1">
        WHERE b.glbm like '%2%' AND b.yyzt = '01' AND b.jbspzt = '3'
        </if>
        <if test="type == 2">
            WHERE b.glbm like '%6%' AND b.yyzt = '01' AND b.zawxpspzt = '3' AND b.dwfl like '%14%' and (b.scbs is null or b.scbs = '0')
        </if>
        <if test="questionQueryBean.keyWord != null and questionQueryBean.keyWord != ''">
            and (a.jcd like concat('%',#{questionQueryBean.keyWord},'%') or a.dwmc like concat('%',#{questionQueryBean.keyWord},'%'))
        </if>
        <if test="questionQueryBean.reactionDept != null and questionQueryBean.reactionDept != '' and questionQueryBean.reactionDept == '隐患上报'">
            and jclx IN ('01','1','2','3')
        </if>
        <if test="questionQueryBean.reactionDept != null and questionQueryBean.reactionDept != '' and questionQueryBean.reactionDept == '复查'">
            and jclx = '4' and clzt IN ('01','1','2','4')
        </if>
        <if test="questionQueryBean.reactionDept != null and questionQueryBean.reactionDept != '' and questionQueryBean.reactionDept == '复查审批'">
            and jclx = '4' and clzt IN ('5','6')
        </if>
        <if test="questionQueryBean.reactionDept != null and questionQueryBean.reactionDept != '' and questionQueryBean.reactionDept == '隐患处置完成'">
            and jclx = '4' and clzt = '3'
        </if>
    </select>
    <select id="queryImpPoint" resultType="java.util.Map">
        SELECT jcsj, jclx, clzt FROM ods.ods_rt_zypt_jcrw_new_yhxx WHERE rwzj = #{id}
    </select>
    <select id="queryImpProcessPic" resultType="java.util.Map">
        <if test="type == 1">
            with yhxx as (SELECT
            a.*
            FROM
            ods."ods_rt_zypt_jcrw_new_yhxx"
            A INNER JOIN ods.ods_rt_zypt_sydw_jbxx b ON A.glzj = b.dwzj
            WHERE
            b.glbm LIKE'%2%'
            AND b.yyzt = '01'
            AND b.jbspzt = '3')

            SELECT
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt IN ('1','2','3')) AS yhsb,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '01' OR clzt = '1') AS dczg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '2') AS zlxqzg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '3') AS zlxqzgbcjg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4') AS fc,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('01','1','2','4')) AS fcwwcl,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '01' OR clzt = '1') AS ykgyy,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '2') AS wzdly,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '4') AS yqbzg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('5','6')) AS fcsp,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '4') AS fcspwwcl,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '5') AS xtjj,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '6') AS fk,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('3','5','6')) AS yhczwc,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('01','1','2','4')) AS yhczwwc
        </if>
        <if test="type == 2">
            with yhxx as (SELECT
            a.*
            FROM
            ods."ods_rt_zypt_jcrw_new_yhxx"
            A INNER JOIN ods.ods_rt_zypt_sydw_jbxx b ON A.glzj = b.dwzj
            WHERE
            b.glbm like '%6%' AND b.yyzt = '01' AND b.zawxpspzt = '3' AND b.dwfl like '%14%' and (b.scbs is null or b.scbs = '0'))

            SELECT
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt IN ('1','2','3')) AS yhsb,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '01' OR clzt = '1') AS dczg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '2') AS zlxqzg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx IN ('1','2','3') AND clzt = '3') AS zlxqzgbcjg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4') AS fc,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('01','1','2','4')) AS fcwwcl,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '01' OR clzt = '1') AS ykgyy,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '2') AS wzdly,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '4') AS yqbzg,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('5','6')) AS fcsp,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '4') AS fcspwwcl,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '5') AS xtjj,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt = '6') AS fk,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('3','5','6')) AS yhczwc,
            (SELECT COALESCE(sum(CAST(yhsl AS int)),0) FROM yhxx WHERE jclx = '4' AND clzt IN ('01','1','2','4')) AS yhczwwc
        </if>
    </select>
    <select id="queryDeliveryTable" resultType="java.util.Map">
        SELECT rwzj, jcsj, jcd, dwmc, jcxmc, jclx, clzt, jczt, fjmc, jzsj FROM rpt.rpt_aqjg_jdwl_yhmx
    </select>
    <select id="queryTrafficData" resultType="java.util.Map">
        SELECT
--464
(select count(1) zdclz
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 1
   and y.LSZT is not null),
--3151
(select count(1) zddcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 1
   and y.LSZT is null),
--2
 (select count(1) zdcf
   from ods.ods_rt_jj_v_tb_yhpc y
  where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
    and y.SFYX = 1
    and y.LCZT = 2),
-- 837
 (select count(1) zdzxcl
   from ods.ods_rt_jj_v_tb_yhpc y
  where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
    and y.SFYX = 1
    and y.LCZT = 3),
-- 3
 (select count(1) zdtjznbm
   from ods.ods_rt_jj_v_tb_yhpc y
  where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
    and y.SFYX = 1
    and y.LCZT = 5),
--962
 (select count(1) zdtjdd
   from ods.ods_rt_jj_v_tb_yhpc y
  where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
    and y.SFYX = 1
    and y.LCZT = 4),
----------------------大队--------------------------
--0
(select count(1) ddlr
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 27),
--962
(select count(1) dddcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 4
   and y.LSZT is null),
--0
(select count(1) dzcf
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 6),
--96
(select count(1) ddzxcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 7),
--3
(select count(1) ddtjywbm
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 8),
--0
(select count(1) ddtjznbm
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 9),
----------------------业务部门--------------------------
--0
(select count(1) ywbmlr
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 26),
--3
(select count(1) ywbmdcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 8
   and y.LSZT is null),
--4
(select count(1) ywbmcf
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 10),
--0
(select count(1) ywbmzxcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 11),
--0
(select count(1) ywbmtjzd
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 12),
----------------------支队--------------------------
--0
(select count(1) zddcl
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 12
   and y.LSZT is null),
--0
(select count(1) zdshtg
  from ods.ods_rt_jj_v_tb_yhpc y
 where y.cjsj >= to_date(#{firstDay}, 'yyyy-mm-dd')
   and y.SFYX = 1
   and y.LCZT = 20)
    </select>
</mapper>