<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.szsh.core.mapper.system.SysRoleMapper">

    <select id="getRoleListPage" resultType="com.oceansoft.szga.smp.szsh.core.entity.system.SysRole">
        select r.id, r.name, r.class_name, r.org_id, o.org_name
        from rpt.sys_role r left join rpt.cm_org o on r.org_id=o.id
        where 1=1
        <if test="findRoleDTO.name!=null and findRoleDTO.name!=''">
            AND r.name like  '%'||#{findRoleDTO.name}||'%'
        </if>
        order by r.id
    </select>

</mapper>