<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.TreeResultMapper">

    <select id="getRoot" resultType="com.oceansoft.szga.smp.entity.TreeDeptResult">
                    SELECT
                        "id",
                        org_name,
                        parent_id
                    FROM
                        "cm_org"
                    WHERE
                        deep = '0';
    </select>
    <select id="getChildResult" resultType="com.oceansoft.szga.smp.entity.TreeDeptResult">
                        SELECT
                            "id",
                            org_name,
                            parent_id
                        FROM
                            "cm_org"
                        WHERE
                            parent_id = #{parentId}
<!--                            IN-->
<!--        <foreach item="item" index="index" collection="parentId" open="(" separator="," close=")">-->
<!--        #{item}-->
<!--    </foreach>-->
    </select>

    <select id="all" resultType="com.oceansoft.szga.smp.entity.TreeDeptResult">
        SELECT
        "id",
        org_name,
        parent_id
        FROM
        "cm_org"
        <!--                            IN-->
        <!--        <foreach item="item" index="index" collection="parentId" open="(" separator="," close=")">-->
        <!--        #{item}-->
        <!--    </foreach>-->
    </select>
</mapper>