<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oceansoft.szga.smp.mapper.ZfMapper">
    <select id="czfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        sl
        from
        rpt_aqjg_qzf_czfsl
        where
        tjrq =#{tjrq}
</select>
    <select id="zaData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
      sum(fws) fws,
      sum(yhs) yhs,
      sum(zgs) zgs
    FROM
        rpt_aqjg_qzf_zayhsj
    where
        tjrq = to_char(CURRENT_DATE,'yyyy-mm-dd')
</select>
    <select id="czfNumDesc" resultType="java.util.HashMap" parameterType="java.util.List">
   select
        tjrq,
        xzqh,
        xzqhmc,
        sl
    from
        rpt_aqjg_qzf_czfsl
    where
        tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') AND xzqhmc is not null order by sl desc
</select>

    <select id="qzfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzfsl
    where
        tjrq =#{tjrq} and xzqhmc is not null
</select>

    <select id="nearQzfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sum(sl) as totle_fws,
        sum(sl) as totle_yhs,
        sum(sl) as totle_zgs
    from
        rpt_aqjg_qzf_qzfsl
    where
        tjrq between #{time} and #{time2} GROUP BY tjrq ORDER BY tjrq ASC
</select>

    <select id="qzfAreaNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        sl as totle_fws,
        sl as totle_yhs,
        sl as totle_zgs
    from
        rpt_aqjg_qzf_qzfsl
    where
        tjrq between #{time} and #{time2} and xzqhmc =#{xzqhmc}
</select>

    <select id="qzfMonthData" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
        COALESCE(SUM(sl),0) as num
    FROM
        rpt_aqjg_qzf_qzfsl
    WHERE
        tjrq like '%' || #{time} ||'%'
</select>


    <select id="qzfDangerous" resultType="java.util.HashMap" parameterType="java.util.List">
    SELECT
		 a.yhlxmc,
		 sum(a.sl) AS sl
		 FROM
		    (SELECT	tjrq, yhlxmc,sl from rpt_aqjg_qzf_qzfyhfx where tjrq =#{tjrq} AND
		    yhlxdm like '10%') a
        GROUP BY yhlxmc ORDER BY sl DESC
</select>

    <select id="qzfDangerous2" resultType="java.util.HashMap" parameterType="java.util.List">
      SELECT
		 a.yhlxmc,
		 sum(a.sl) AS sl
		 FROM
		    (SELECT	tjrq, yhlxmc,sl from rpt_aqjg_qzf_qzfyhfx where tjrq =#{tjrq} AND
		    yhlxdm NOT like '10%') a
        GROUP BY yhlxmc ORDER BY sl DESC
</select>
    <select id="qzwImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_qzwzdr
    where
        tjrq =#{tjrq}
</select>
    <select id="qzfImpPerson" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        fldm,
        flmc,
        sl
    from
        rpt_aqjg_qzf_qzfzdry
    where
        tjrq =#{tjrq}
</select>

    <select id="dangerQzfNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhqzfsj
    where
        tjrq =#{tjrq}
</select>


    <select id="yhQzfTotleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        xzqhmc,
        sum(sl)
    from
        rpt_aqjg_qzf_yhqzfsj
    where
        tjrq =#{tjrq} group by xzqhmc order by xzqhmc
</select>

    <select id="nearYhQzf" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sum(sl) as totle_fws,
        sum(sl) as totle_yhs,
        sum(sl) as totle_zgs
    from
        rpt_aqjg_qzf_yhqzfsj
    where
        tjrq between #{time} and #{time2} GROUP BY tjrq ORDER BY tjrq ASC
</select>


    <select id="dangerTypeFx" resultType="java.util.HashMap" parameterType="java.util.List">
     SELECT
        a.num,
        a.yhlbmc,
        ceiling(a.num/b.totlenum*100) as percent
     FROM
        (select	tjrq, sum(sl) as num, yhlbmc from rpt_aqjg_qzf_yhdlfx where
       yhlbmc is not null and  tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') group by tjrq,yhlbmc order by num) a
	LEFT JOIN
		(select tjrq,sum(sl) as totlenum from rpt_aqjg_qzf_yhdlfx where
       yhlbmc is not null and  tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') GROUP BY tjrq) b
	on a.tjrq = b.tjrq

</select>

    <select id="notDangerTypeSb" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sbzs,
        sbwcs,
        sbwwcs
    from
        rpt_aqjg_qzf_fzayhsb
    where
        tjrq =#{tjrq}
</select>
    <select id="notDangerTypeSj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws,
        yhs,
        zgs,
        ceiling(zgs/yhs*100) as percent
    from
        rpt_aqjg_qzf_fzayhsj
    where
        tjrq =#{tjrq} order by yhs
    </select>

    <select id="fZaSj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws,
        yhs,
        zgs,
        ceiling(zgs/yhs*100) as percent
    from
        rpt_aqjg_qzf_fzayhsj
    where
        tjrq =#{tjrq} order by xzqhmc
    </select>
    <select id="fZaDataSj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(yhs) as totleYhs,
        sum(zgs) as totleZg,
        sum(yhs) - sum(zgs) as totleWzg
    from
        rpt_aqjg_qzf_fzayhsj
    where
        tjrq = to_char(CURRENT_DATE,'yyyy-MM-dd')
    </select>
    <select id="fzaYhNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        sum(fws) as totle_fws,
        sum(yhs) totle_yhs,
        sum(zgs) as totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where xzqhmc =#{xzqhmc}
    </select>

    <select id="sigleData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws as totle_fws,
        yhs as totle_yhs,
        zgs as totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where xzqhmc =#{xzqhmc} and tjrq  between #{time} and #{time2} ORDER BY tjrq
    </select>

    <select id="findDataByName" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws as totle_fws,
        yhs as totle_yhs,
        zgs as totle_zgs
    from
        rpt_aqjg_qzf_zayhsj
        where xzqhmc =#{xzqhmc} and tjrq  between #{time} and #{time2} ORDER BY tjrq
    </select>

    <select id="totleNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
       sum(fws) totle_fws,
       sum(yhs) totle_yhs,
       sum(zgs) totle_zgs
    from
        rpt_aqjg_qzf_fzayhsj
        where tjrq between #{time} and #{time2} group by tjrq ORDER BY tjrq ASC
    </select>

    <select id="totleNum2" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
       sum(fws) totle_fws,
       sum(yhs) totle_yhs,
       sum(zgs) totle_zgs
    from
        rpt_aqjg_qzf_zayhsj
        where tjrq between #{time} and #{time2} group by tjrq ORDER BY tjrq ASC
    </select>

    <select id="zaYhNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
      tjrq,
      xzqhdm,
      xzqhmc,
      fws,
      yhs,
      zgs,
      ceiling(zgs/yhs*100) as percent
    from
        rpt_aqjg_qzf_zayhsj
    where
        tjrq =#{tjrq} order by xzqhmc
    </select>

    <select id="floatingPopulationNum" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        a.nld,
        a.slNum,
        b.totleNum,
        ceiling(a.slNum/b.totleNum*100) as percent
    FROM
    (select
		tjrq,
        nld,
        sum(sl) as slNum
    from
        rpt_aqjg_qzf_ldrksl
    where
        tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') group by nld,tjrq) a
	LEFT JOIN
	(select
		tjrq,
        sum(sl) as totleNum
    from
        rpt_aqjg_qzf_ldrksl
    where
        tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') gROUP BY tjrq) b
				on a.tjrq = b.tjrq
				ORDER BY nld
</select>

    <select id="ldryFxData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        nld,
        sl
    from
        rpt_aqjg_qzf_ldrksl
    where
        tjrq=#{tjrq} ORDER BY xzqhmc,nld
</select>

    <select id="fzayhff" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhff
    where
        tjrq =#{tjrq}
</select>
    <select id="fzayhrl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhrl
    where
        tjrq =#{tjrq}
</select>
    <select id="fzayhsh" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        zsl,
        wcsl,
        wwcsl
    from
        rpt_aqjg_qzf_fzayhsh
    where
        tjrq =#{tjrq}
</select>
    <select id="fzayhza" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        zsl as zsl,
        wcsl as wcsl,
        wwcsl as wwcsl
    from
        rpt_aqjg_qzf_fzayhza
</select>
    <select id="qyldrysl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqh,
        xzqhmc,
        ldrysl
    from
        rpt_aqjg_qzf_qyldrysl
    where
        tjrq=#{tjrq} order by ldrysl desc
</select>

    <select id="yhczwsj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        sl as sl
    from
        rpt_aqjg_qzf_yhczwsj
    where
        tjrq =#{tjrq}
</select>

    <select id="yhqs" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sum(fzayh_fxsl) as totle_fws,
        sum(fzayh_tssl) as totle_yhs,
        sum(fzayh_zgsl) as totle_zgs
    from
        rpt_aqjg_qzf_yhqs
    where
        tjrq  between #{time} and #{time2} GROUP BY tjrq  ORDER BY tjrq
</select>

    <select id="yhqs2" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sum(zayh_fxsl) as totle_yhs,
        sum(zayh_fxsl) as totle_fws,
        sum(zayh_zgsl) as totle_zgs
    from
        rpt_aqjg_qzf_yhqs
    where
        tjrq  between #{time} and #{time2} GROUP BY tjrq  ORDER BY tjrq
</select>

    <select id="zayhsj" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhdm,
        xzqhmc,
        fws,
        yhs,
        zgs,
        ceiling(zgs/yhs*100) as percent
    from
        rpt_aqjg_qzf_zayhsj
    where
    tjrq =#{tjrq} order by yhs
</select>

    <select id="nearYhsData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        sum(fzayh_fxsl) as totle_fws,
        sum(fzayh_tssl) as totle_yhs,
        sum(fzayh_zgsl) as totle_zgs
    from
        rpt_aqjg_qzf_yhqs
    where
        tjrq between #{time} and #{time2} group by tjrq ORDER BY tjrq
</select>

    <select id="singleAreaData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        fzayh_fxsl as totle_fws,
        fzayh_tssl as totle_yhs,
        fzayh_zgsl as totle_zgs
    from
        rpt_aqjg_qzf_yhqs
    where
        tjrq between #{time} and #{time2} AND xzqhmc = #{xzqhmc} order by tjrq
</select>

    <select id="yhsData" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq,
        xzqhmc,
        zayh_fxsl,
        zayh_zgsl,
        fzayh_fxsl,
        fzayh_tssl,
        fzayh_zgsl,
        ceiling(fzayh_zgsl/fzayh_fxsl*100) as percent
    from
        rpt_aqjg_qzf_yhqs
    where
    tjrq =#{tjrq} order by xzqhmc
</select>

    <select id="zayhFxsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        fxsl as fxsl
    from
        rpt_aqjg_qzf_zayhzg_fxsl
</select>
    <select id="zayhWzgsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        wzgsl as wzgsl
    from
        rpt_aqjg_qzf_zayhzg_wzgsl
</select>
    <select id="zayhZgsl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        pcsname as pcsname,
        zgsl as zgsl
    from
        rpt_aqjg_qzf_zayhzg_zgsl
</select>
    <select id="zdrysl" resultType="java.util.HashMap" parameterType="java.util.List">
    select
        tjrq as tjrq,
        xzqh as xzqh,
        xzqhmc as xzqhmc,
        nld as nld,
        sl as sl
    from
        rpt_aqjg_qzf_zdrysl
</select>
    <select id="lzFxDataByLdrk" resultType="java.util.HashMap" parameterType="java.util.List">
        SELECT
            xzqhmc,
            sum(sl)
        FROM
            rpt_aqjg_qzf_ldrksys
        WHERE
        tjrq=to_char(CURRENT_DATE,'yyyy-mm-dd') AND xzqhmc !='其他' GROUP BY xzqhmc ORDER BY sum DESC
</select>
    <select id="areaAddNum" resultType="java.util.HashMap">
        select * from (
    select qxmc.xzqhmc,(jt.sl-zt.sl) AS addNum from (
        (select xzqhmc from rpt_aqjg_qzf_qzfsl where xzqhmc is not null GROUP BY xzqhmc) as qxmc
        LEFT JOIN
       (select sl,xzqhmc from rpt_aqjg_qzf_qzfsl WHERE tjrq = #{time} and xzqhmc is not null) as jt on qxmc.xzqhmc = jt.xzqhmc
        LEFT JOIN
       (select sl,xzqhmc from rpt_aqjg_qzf_qzfsl WHERE tjrq = #{time2} and xzqhmc is not null) as zt on qxmc.xzqhmc = zt.xzqhmc
    )GROUP BY qxmc.xzqhmc,addNum
        ) foo ORDER BY xzqhmc ASC
    </select>
</mapper>